.container {
    width:100%;
}

.HeaderContentCol h4 {
    text-align: center;
    margin-top: 1%;
    margin-bottom: 1%;
    border: 1px solid black;
    padding: 1%;
}
.innerBody {
    margin-top: 2%;
}

.AdminInfoTables thead {

    background-color: black;
    color: white;
    cursor: pointer;
}
.AdminInfoTables tbody {
   cursor: pointer;
}

.AdminInfoTables-sort thead tr th:hover {
    text-decoration: underline;
}

.AdminBlockTabs .tab-content {
    margin-top: 1%;
}


/*Table Filter*/

.TableFilterField {
    cursor: pointer;
}
.TableFilterField thead {
    background-color: #314190;
    color: white;
}
.TableFilterField thead tr th {
    text-align: center;
    vertical-align: middle;
}
.TableFilterField thead tr th:hover{
    text-decoration: underline;
}
.TableFilterField tbody tr td {

    padding: 2px;

}

/*END Table Filter*/


.FunctionButton {
    width: 400px;
}
