/*

Налаштування сторіки в браузері Firefox

Alt -> Файл -> Предвратительный просмотр ->
{
    Прибрати всі колонтитули
    і відступи

    Етикатка мала: width = 57, height = 60

}



*/


div {
    border: 1px solid black;
    width: 200px;
    height: 210px;
    text-overflow: clip;
    margin: 0 auto;
    text-align: center;
}