
<div class="col-sm-6 col-sm-offset-3" style="margin-top: 5%; margin-bottom: 2%">

    {if $error_login neq NULL}
        <div class="panel panel-danger">
            <div class="panel-body">
                <h4 style="text-align: center; color: red"> <i class="fa fa-exclamation-circle "></i> {$error_login}</h4>
            </div>
        </div>
    {/if}

    <div class="well well-sm text-center">

        <h3>Ви реєструвались як?</h3>

        <div class="btn-group" data-toggle="buttons" id="type">

            <label class="btn btn-warning active btn_radio" data-type="0" style="background-color: #FFCC01; font-weight: 600; color: black;">
                <input type="radio" autocomplete="off" checked>
                <span class="glyphicon glyphicon-ok"></span>Учасник
            </label>

            <label class="btn btn-success btn_radio" data-type="1" style="background-color: #069844; font-weight: 600; color: black;">
                <input type="radio" autocomplete="off" >
                <span class="glyphicon glyphicon-ok"></span>Відвідувач
            </label>

        </div>

    </div>
</div>

<div class="col-sm-6 col-sm-offset-3">
    <form action="/login" method="post" id="form_login">
        <div class="form-group">
            <label for="loginLK_form_login">Номер телефону або Email</label>
            <input type="text" class="form-control" id="loginLK_form_login" name="loginLK_form_login" placeholder="i.ivanov@ukr.net або 380985458259" required="">
        </div>
        <div class="form-group">
            <label for="loginLK_form_password">Ідентифікатор підприємства</label>
            <input type="password" class="form-control" id="loginLK_form_password" name="loginLK_form_password" placeholder="" required="">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Авторизуватись</button>
        </div>

        <input type="hidden" name="recaptcha_response" id="recaptchaResponse">
    </form>
</div>

<form name="FormSubmitShowErrors" id="FormSubmitShowErrors" method="post" style="display: none">
    <input type="hidden" name="error_id" id="error_id" value=""/>
</form>


<script type="application/javascript">
    function ON_PAGE_LOAD_1 () {



        $("#form_login").submit(function (ev) {

            var type = $("#type").find("label.active").attr("data-type");
            $.post(
                "/login/valid_login/",
                $(this).serialize()+"&type="+type,
                function (response) {
                    response = JSON.parse(response)
                    if (response[0] == true)
                    {
                        location.href = '/osobystyy-kabinet';
                    }else if (response[0] == false) {
                        $("#FormSubmitShowErrors").find("#error_id").val(response[1]);
                        $("#FormSubmitShowErrors").submit();
                    }else {
                        location.reload();
                    }
                }
            );

            return false;
        });
    }
</script>