<div class="col-sm-12">
    <div class="row">
        <!--left bar-->
        {include file="{$view_system_option._URL.view}login/lk_left_bar.html" type="{$session_info['type']}"}

        <div class="col-sm-9 lk_content" >
            <div class="row">
                <div class="col-sm-12">
                    <div class="panel panel-primary">
                        <form  id="lk_form" name="lk_form" action="" method="post">
                            <div class="panel-heading" style="padding: 1px 15px;">
                                <h4><span id="lk_tab_caption">Основна інформація</span>
                                    <span class="btn-group pull-right">
                                        <button class="btn btn-primary btn-sm" type="button" id="LkAddGuest" style="margin-top: -5px; margin-right: 3px; display: none;"><i class="fa fa-user-plus"></i> Додати предаставника </button>
                                        <button class="btn btn-default btn-sm" type="submit" id="LK_form_submit" style="margin-top: -5px;"><i class="fa fa-save"></i> Зберегти </button>
                                    </span>
                                </h4>
                            </div>
                            <div class="panel-body">
                                <div class="lk_tabs">
                                    <div id="base_info" class="lk_tab show">
                                        {include file="{$view_system_option._URL.view}login/tabs/base_info.html"}
                                    </div>
                                    {if $session_info['type'] eq "0"}
                                    <div id="dogovyr_info" class="lk_tab hide">
                                        {include file="{$view_system_option._URL.view}login/tabs/dogovyr_info.html"}
                                    </div>
                                    {/if}
                                    <div id="guest_info" class="lk_tab hide">
                                        {include file="{$view_system_option._URL.view}login/tabs/guest_info.html"}
                                    </div>
                                    <div id="file_info" class="lk_tab hide">
                                        {include file="{$view_system_option._URL.view}login/tabs/file_info.html"}
                                    </div>
                                    {if $session_info['type'] eq "0"}
                                    <div id="package_services_info" class="lk_tab hide">
                                        {include file="{$view_system_option._URL.view}login/tabs/package_services_info.html"}
                                    </div>
                                    {/if}
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>



{include file="{$view_system_option._URL.view}registration/error_box.html"}

<!-- GUEST ITEM TEMPLATE -->
<div class="templateFieldRow" style="display: none">
    <div class="panel panel-default" id="form_registration_step2_item_%id%" >
        <div class="panel-body">
            <input type="hidden" name="guest_info[%id%][id]" value="insert">
            <div class="row" style="margin-bottom: 1%; padding-bottom: 1%; text-align: right; border-bottom: 1px solid rgba(0,0,0,.05) ">
                <div class="col-sm-12">
                    <button type="button" class="btn btn-default btn-sm btn_delete_panel" data-row-id="#form_registration_step2_item_%id%" data-guest-id="" >
                        <i class="fa fa-times-circle"></i>
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="guest_info[%id%][pip_guest]"> <span class="requiredFiledForm"> * </span>  {$LANG_VAR.reg_partner.label_pip_guest}</label>
                        <input type="text" class="form-control" id="guest_info[%id%][pip_guest]" name="guest_info[%id%][pip_guest]" placeholder="Іванов Іван Іванович" required="">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="guest_info[%id%][posada_guest]"> <span class="requiredFiledForm"> * </span> {$LANG_VAR.reg_partner.label_posada_guest}</label>
                        <input type="text" class="form-control" id="guest_info[%id%][posada_guest]" name="guest_info[%id%][posada_guest]" placeholder="Менеджер із збуту" required="">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="guest_info[%id%][email_guest]"> <span class="requiredFiledForm"> * </span> {$LANG_VAR.reg_partner.label_email_guest}</label>
                        <input type="email" class="form-control" id="guest_info[%id%][email_guest]" name="guest_info[%id%][email_guest]" placeholder="mail@mail.com" required="">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="guest_info[%id%][mob_num_guest]"> <span class="requiredFiledForm"> * </span>{$LANG_VAR.reg_partner.label_mob_number_guest}</label>
                        <input type="tel"  class="form-control MobNumber" id="guest_info[%id%][mob_num_guest]" name="guest_info[%id%][mob_num_guest]" placeholder="380 (98) 999 99 99" required="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--END GUEST ITEM TEMPLATE-->

<form id="fakeForm_DownloadFile" name="fakeForm_DownloadFile" action="/login/download_file" method="POST">
    <input type="hidden" name="url" id="url" value=""/>
    <input type="hidden" name="file_name" id="file_name" value=""/>
</form>

<script type="application/javascript">
    function ON_PAGE_LOAD_1 () {

        
        $('#lk_form').submit(function (ev) {
            if (confirm("Ви впевненні що хочете виконати зміни?")) {
                $.post(
                    "/login/update_info",
                    $("#lk_form").serialize(),
                    function (response) {
                        response = JSON.parse(response);
                        if (response[0] == "true")
                        {
                            location.reload();
                        }else
                        {
                            showMsgError(response[0], "Інформація");
                        }
                    }
                );
            }

            return false;
        });

        $(".list-group .lk_tabs_btn").click(function () {

            $(".lk_tab").removeClass("show");
            $(".lk_tab").addClass("hide");

            var tab_id = ".lk_content #"+$(this).attr("data-tab-id");
            if ($(tab_id).hasClass("show"))
            {
                $(tab_id).removeClass("show");
                $(tab_id).addClass("hide");
            }else {
                $(tab_id).removeClass("hide");
                $(tab_id).addClass("show");
            }

            if ($(this).attr("data-tab-id") == 'guest_info') {
                $("#LkAddGuest").show();
            }else {
                $("#LkAddGuest").hide();
            }

            $('#lk_tab_caption').html($(this).attr("data-tab-caption"));
        });



        /**
         *  ВИПАДАЮЧИ СПИСКИ З АДРЕСОЮ
         */
        $("#region").focus(function () {
            $(".select_option_div").hide();
            $("#SelectDivRegion").show();
        });

        $("#region").keypress(function () {
            var val = $("#region").val();
            $("#SelectDivRegion span").each(function (i, element) {
                if (!$(this).html().match(new RegExp(val)))
                {
                    $(this).hide();
                }else {
                    $(this).show();
                }
            });
        });

        $("#SelectDivRegion span").click(function () {
            $("#region").val($(this).html());
            $(".select_option_div").hide();
        });

        $("#district").focus(function () {
            $(".select_option_div").hide();
            if ($("#region").val() != "")
            {
                $("#SelectDivDistrict").show();
                $.post (
                    "/reg_agent/getAddressValue-1",
                    {
                        "region":$("#region").val()
                    },
                    function (data) {
                        var field = JSON.parse(data);
                        //console.log(field);
                        var html = "";
                        for (var i=0; i<field.length; i++)
                        {
                            html += '<span class="list-group-item list-group-item-action" onclick="void(0)">'+field[i].rayon+'</span>';
                        }
                        $("#SelectDivDistrict").html(html);
                    }
                );
            }
        });

        $("#district").keypress(function () {
            if ($("#region").val() != "")
            {
                var val = $("#district").val();
                $("#SelectDivDistrict span").each(function (i, element) {
                    if (!$(this).html().match(new RegExp(val)))
                    {
                        $(this).hide();
                    }else {
                        $(this).show();
                    }
                });
            }

        });

        $(document).delegate("#SelectDivDistrict span", "click", function () {
            $("#district").val($(this).html());
            $(".select_option_div").hide();
        });

        $("#SelectDivDistrict span").click(function () {
            $("#district").val($(this).html());
            $(".select_option_div").hide();
        });


        $("#address, #city, #email, #name, #pip, #mob_number, #post_index, #street, #edrpov, #ipn, #numb_svid_pdv, #roz_rah, #mfo").focus(function () {
            $(".select_option_div").hide();
        });

        /**
         *  END ВИПАДАЮЧИ СПИСКИ З АДРЕСОЮ
         */


        /*GUESTS*/

        /*---*/
        var cnt_field_row = {$info['base_info']['count_guest']};
        var max_cnt_guest = {if $session_info['type'] eq 0}{$info['package_services_info']['max_cnt_guest']}{else}0{/if};
        var curretn_count_gouest = {$info['base_info']['count_guest']};

        /*var template = $(".templateFieldRow").html().replace(/\%id%/g, cnt_field_row);
        $("#form_registration_step2_guests_box").append(template);*/

        $("#LkAddGuest").click( function () {
            cnt_field_row = cnt_field_row + 1;
            curretn_count_gouest = curretn_count_gouest + 1;

            {if $session_info['type'] eq 0}
            if (curretn_count_gouest > max_cnt_guest) {
                showMsgError("Ви обрали пакет послуг '{$info['package_services_info']['name']}', який передбачає кількість гостей не більше {$info['package_services_info']['max_cnt_guest']} осіб, за кожного додаткового гостя сума оплати збільшиться! ", "Увага");
            }
            {/if}

            var template = $(".templateFieldRow").html().replace(/\%id%/g, cnt_field_row);
            $("#form_registration_step2_guests_box").prepend(template);
        });

        $(document).delegate("button.btn_delete_panel", "click", function () {
            if (confirm("Ви впевненні що хочете видалити цього представника?")) {
                var id = $(this).attr("data-row-id");
                curretn_count_gouest = curretn_count_gouest - 1;
                $("#form_registration_step2_guests_box").find($(this).attr("data-row-id")).remove();

                // ІД які треба видалити
                if ($(this).attr("data-guest-id") != "")
                {
                    $("#guest_info_remove_items").val( $("#guest_info_remove_items").val()+$(this).attr("data-guest-id")+"," );
                }
            }

            });


        /*END GUESTS*/

        /*MASK*/
        $(function(){
            //2. Получить элемент, к которому необходимо добавить маску
            $(".MobNumber").mask("380 (99) 999 99 99");
            $(".PostIndexMask").mask("99999");
            $(".IpnMask").mask("999999999999");
            $(".MfoMask").mask("999999")
            $(".EdrpovMask").mask("99999999");
        });
            $(document).delegate(".MobNumber", "focus", function () {
                $(".MobNumber").mask("380 (99) 999 99 99");
            });


            $(".DownloadFilePartnerItem").click(function () {
                var fakaForm = $("#fakeForm_DownloadFile");
                fakaForm.find("#url").val($(this).attr("data-url"));
                fakaForm.find("#file_name").val($(this).attr("data-file_name"));
                $("#fakeForm_DownloadFile").submit();
            });


    }
</script>