
    <div class="col-sm-3 col-md-3 sidebar">
        <div class="mini-submenu">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </div>
        <div class="list-group">
            <span href="#" class="list-group-item active">
                Навігація
                <!--<span class="pull-right" id="slide-submenu">
                    <i class="fa fa-times"></i>
                </span>-->
            </span>

            <a href="#" class="list-group-item lk_tabs_btn" data-tab-id="base_info" data-tab-caption="Основна інформація">
                <i class="fa fa-building"></i> Основна інформація
            </a>
            {if $type eq "0"}
            <a href="#" class="list-group-item lk_tabs_btn" data-tab-id="package_services_info" data-tab-caption="Пакет послуг">
                <i class="fa fa-cubes"></i> Пакет послуг
            </a>
            <a href="#" class="list-group-item lk_tabs_btn" data-tab-id="dogovyr_info" data-tab-caption="Іфнормація для договру">
                <i class="fa fa-file"></i> Іфнормація для договру
            </a>
            {/if}
            <a href="#" class="list-group-item lk_tabs_btn" data-tab-id="guest_info" data-tab-caption="Представники компанії">
                <i class="fa fa-user"></i> Представники компанії
            </a>
            <a href="#" class="list-group-item lk_tabs_btn" data-tab-id="file_info" data-tab-caption="Файли">
                <i class="fa fa-folder-open-o"></i> Файли
            </a>
        </div>
    </div>
