/*NAVBAR TOP MENU*/

/*Картинка*/

.navbar-brand img {
    height: 58px;
}

@media (max-width: 768px) {
    .navbar-brand img {
        height: 29px;
    }
}
.navbar-default {
    box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 3px;
}
.navbar-header {
    height: 11%;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #555;
    background-color: transparent;
    border-top: 3px solid rgb(49, 89, 31);
}
.navbar-default .navbar-nav > li > a:hover
{
    border-top: 3px solid rgb(49, 89, 31);
}
.navbar-default .navbar-collapse {
    border-color: transparent;
}
.navbar-nav > li {
    padding-left: 10px;
}
.TopMenu ul.navbar-nav {
    margin-left: 33%;
    margin-top: 1%;
    margin-bottom: 1%;
}
.MainContent .HeaderContent {
    border-bottom: 1px solid;
    border-top: 1px solid;
    border-color: #d2d3d4;
    margin-bottom: 2.5%;
    color: #878787;
    height: 87px;
    -moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
    background-size: 100%; /* Современные браузеры */
}
.MainContent .HeaderContent h4 {
    text-align:  center;
}
.MainContent .HeaderContentCol {
    position: relative;
    top:25%;
}

@media (max-width: 400px) {
    .MainContent .HeaderContent{
        background: none;
    }
    .TopMenu ul.navbar-nav {
        margin-left: 0;
        margin-top: 19%;
        margin-bottom: 10%;
    }
    .MainContent .HeaderContentCol {
        position: relative;
        top:8%;
    }
}
@media (min-width: 400px) and (max-width: 767px) {
    .MainContent .HeaderContent{
        height: 54px;
        background: none;
    }
    .TopMenu ul.navbar-nav {
        margin-left: 0;
        margin-top: 15%;
        margin-bottom: 10%;
    }
    .MainContent .HeaderContentCol {
        position: relative;
        top:8%;
    }
}
@media (min-width: 768px) and (max-width: 1050px) {
    .MainContent .HeaderContent{
        height: 49px;
    }
    .TopMenu ul.navbar-nav {
        margin-left: 15%;
        margin-top: 2%;
    }
    .MainContent .HeaderContentCol {
        position: relative;
        top:8%;
    }

}
@media (min-width: 1050px) and (max-width: 1400px) {
    .MainContent .HeaderContent{
        height: 70px;
    }
    .TopMenu ul.navbar-nav {
        margin-left: 22%;
        margin-top: 2%;
    }
    .MainContent .HeaderContentCol {
        position: relative;
        top:20%;
    }
}

/* END NAV BAR TOP MENU*/

.PanelHideButton span.PanelHideButton_btn:hover {
    text-shadow: 1px 1px 2px black;
    cursor: pointer;
}



.MainContent {
    margin-top: 6%;
}

@media (max-width: 400px) {
    .MainContent {
        margin-top: 20%;
    }
}
@media (min-width: 400px) and (max-width: 767px) {
    .MainContent {
        margin-top: 11%;
    }
}
@media (min-width: 768px) and (max-width: 1050px) {
    .MainContent {
        margin-top: 11%;
    }
}
@media (min-width: 1050px) and (max-width: 1400px) {
    .MainContent {
        margin-top: 11%;
    }
}
/*Progress steps*/
.ProgressSteps {
    margin-left: 0%;
}

.bs-wizard {border-bottom: solid 1px #e0e0e0; padding: 0 0 10px 0;}
.bs-wizard > .bs-wizard-step {padding: 0; position: relative;}
.bs-wizard > .bs-wizard-step + .bs-wizard-step {}
.bs-wizard > .bs-wizard-step .bs-wizard-stepnum {color: #595959; font-size: 16px; margin-bottom: 5px;}
.bs-wizard > .bs-wizard-step .bs-wizard-info {color: #999; font-size: 14px;}
.bs-wizard > .bs-wizard-step > .bs-wizard-dot {position: absolute; width: 30px; height: 30px; display: block; background: #fbe8aa; top: 45px; left: 50%; margin-top: -15px; margin-left: -15px; border-radius: 50%;}
.bs-wizard > .bs-wizard-step > .bs-wizard-dot:after {content: ' '; width: 14px; height: 14px; background: #fbbd19; border-radius: 50px; position: absolute; top: 8px; left: 8px; }
.bs-wizard > .bs-wizard-step > .progress {position: relative; border-radius: 0px; height: 8px; box-shadow: none; margin: 20px 0;}
.bs-wizard > .bs-wizard-step > .progress > .progress-bar {width:0px; box-shadow: none; background: #fbe8aa;}
.bs-wizard > .bs-wizard-step.complete > .progress > .progress-bar {width:100%;}
.bs-wizard > .bs-wizard-step.active > .progress > .progress-bar {width:50%;}
.bs-wizard > .bs-wizard-step:first-child.active > .progress > .progress-bar {width:0%;}
.bs-wizard > .bs-wizard-step:last-child.active > .progress > .progress-bar {width: 100%;}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot {background-color: #f5f5f5;}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot:after {opacity: 0;}
.bs-wizard > .bs-wizard-step:first-child  > .progress {left: 50%; width: 50%;}
.bs-wizard > .bs-wizard-step:last-child  > .progress {width: 50%;}
.bs-wizard > .bs-wizard-step.disabled a.bs-wizard-dot{ pointer-events: none; }
.bs-wizard > .bs-wizard-step .bs-wizard-info {
    font-size: 0.9em;
    font-weight: 600;
}

@media (max-width: 400px) {
    .bs-wizard > .bs-wizard-step .bs-wizard-info {
        display: none;
    }
}

/*END Progress steps*/

.FormRegistration {
    margin-top: 2%;
}

.FormRegistration .FormRegStep2Item {
    border: 1px solid #e1e1e1;
    border-radius: 10px 10px 10px;
    padding: 1%;
    margin-bottom: 1%;
}
.FormEditItem {
    border: 1px solid #e1e1e1;
    border-top: 2px solid #e1e1e1;
    border-radius: 10px 10px 10px;
    padding: 1%;
    margin-bottom: 1%;
}

.site-footer
{
    background-color:#26272b;
    padding:45px 0 20px;
    font-size:15px;
    line-height:24px;
    color:#737373;
}
.site-footer hr
{
    border-top-color:#bbb;
    opacity:0.5
}
.site-footer hr.small
{
    margin:20px 0
}
.site-footer h6
{
    color:#fff;
    font-size:16px;
    text-transform:uppercase;
    margin-top:5px;
    letter-spacing:2px
}
.site-footer a
{
    color:#737373;
}
.site-footer a:hover
{
    color:#3366cc;
    text-decoration:none;
}
.footer-links
{
    padding-left:0;
    list-style:none
}
.footer-links li
{
    display:block
}
.footer-links a
{
    color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
    color:#3366cc;
    text-decoration:none;
}
.footer-links.inline li
{
    display:inline-block
}
.site-footer .social-icons
{
    text-align:right
}
.site-footer .social-icons a
{
    width:40px;
    height:40px;
    line-height:40px;
    margin-left:6px;
    margin-right:0;
    border-radius:100%;
    background-color:#33353d
}
.copyright-text
{
    margin:0
}
@media (max-width:991px)
{
    .site-footer [class^=col-]
    {
        margin-bottom:30px
    }
}
@media (max-width:767px)
{
    .site-footer
    {
        padding-bottom:0
    }
    .site-footer .copyright-text,.site-footer .social-icons
    {
        text-align:center
    }
}
.social-icons
{
    padding-left:0;
    margin-bottom:0;
    list-style:none
}
.social-icons li
{
    display:inline-block;
    margin-bottom:4px
}
.social-icons li.title
{
    margin-right:15px;
    text-transform:uppercase;
    color:#96a2b2;
    font-weight:700;
    font-size:13px
}
.social-icons a{
    background-color:#eceeef;
    color:#818a91;
    font-size:16px;
    display:inline-block;
    line-height:44px;
    width:44px;
    height:44px;
    text-align:center;
    margin-right:8px;
    border-radius:100%;
    -webkit-transition:all .2s linear;
    -o-transition:all .2s linear;
    transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
    color:#fff;
    background-color:#29aafe
}
.social-icons.size-sm a
{
    line-height:34px;
    height:34px;
    width:34px;
    font-size:14px
}
.social-icons a.facebook:hover
{
    background-color:#3b5998
}
.social-icons a.twitter:hover
{
    background-color:#00aced
}
.social-icons a.linkedin:hover
{
    background-color:#007bb6
}
.social-icons a.dribbble:hover
{
    background-color:#ea4c89
}
@media (max-width:767px)
{
    .social-icons li.title
    {
        display:block;
        margin-right:0;
        font-weight:600
    }
}
.footer {
    margin-top: 5%;
}

.requiredFiledForm {
    content: '*';
    color: red;
}

.select_option_div {
    position: absolute;
    width: 94%;
    z-index: 2;
    height: 160px;
    overflow-x: auto;
    overflow-y: scroll;
    display: none;
    background-color: white;
}
.select_option_div span:hover {
    background-color: #f5f5f5;
}

.CulturaBox {
    padding-bottom: 12px;
    font-size: 14px;
    color: #555;
    margin-bottom: 15px;
}

.panel span.btn_hide_panel:hover, .panel span.btn_delete_panel:hover {
    color: #fba312;
    cursor: pointer;
}

/* Errors */
#errorBoxModal .modal-header,  #errorBoxModal .modal-footer{
    color: #653534;
    background-color: #ed5d5d;
}
#errorBoxModal .modal-body, #errorBoxModal .list-group {
    color: #a94442;
    background-color: #f2dede;
}
.Error404Box {
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%
}
.Error404Box img {
    width: 60%;
}
/*END Errors*/

/* RegistrationStartPage  */


.RegistrationStartPage .R_ButtonBox {
     text-align: center;
}

.RegistrationStartPage .R_ButtonBox a.btn {
    height: 100px;
    width: 400px;
}

.RegistrationStartPage .R_ButtonBox a.btn span {
    font-size: 1.2em;
    position: relative;
    top:36%;

}
.RegistrationStartPage .R_InfoBox {
    margin-top: 1%;
}
.RegistrationStartPage .R_InfoBox .panel-heading
{
    color: #878787;
    text-align: left;
}
.RegistrationStartPage .R_InfoBox .panel-body {
    text-align: justify;
    text-indent: 40px;
}

@media (max-width: 400px) {
    .RegistrationStartPage .R_ButtonBox a.btn {
        width: 300px;
    }
    .RegistrationStartPage .R_ButtonBox a.btn span
    {
        font-size: 1em;
        position: relative;
        top:38%;
    }

}
@media (min-width: 400px) and (max-width: 767px) {

}
@media (min-width: 768px) and (max-width: 1050px) {

}
@media (min-width: 1050px) and (max-width: 1400px) {

}
/* END RegistrationStartPage */


/*Registration Step One*/
.Table_Package_service {
    margin-top: 1%;
}

.Table_Package_service table.table thead {
    background-color: #f5f5f5;
}

.Table_Package_service table.table tbody tr{
    cursor: pointer;
}
.Table_Package_service table.table tbody tr td  {
    text-align: center;
    vertical-align: middle;
    font-size: 1.1em;
}
.Table_Package_service table.table tbody tr td.td_other  {
    text-align: left;

}
.Table_Package_service table.table tbody tr td.p_s_selected
{
    color: green;
}
.Table_Package_service table.table tbody tr[data-selected='true']{
    background-color: red;
}


@media (max-width: 400px) {
    .Table_Package_service table.table
    {
        overflow-x: auto;
        display: block;
    }
}
@media (min-width: 400px) and (max-width: 767px) {
    .Table_Package_service table.table
    {
        overflow-x: auto;
        display: block;
    }
}
@media (min-width: 768px) and (max-width: 1050px) {}
@media (min-width: 1050px) and (max-width: 1400px) {}
/*END Registration Step One*/
/*Registration Step Three*/


/*.TableSelectDiyalnist {
    margin-top: 1%;
}*/
.TableSelectDiyalnist {

    height: 400px;
    overflow-x: auto;
    overflow-y: scroll;

}
.TableSelectDiyalnist table.table thead {
    background-color: #f5f5f5;
}

.TableSelectDiyalnist table.table tbody tr{
    cursor: pointer;
}

.TableSelectDiyalnist table.table tbody tr td.p_s_selected
{
    color: green;
}
.TableSelectDiyalnist table.table tbody tr[data-selected="true"]{
    background-color: #fbbd19;
}


@media (min-width: 768px) and (max-width: 1050px) {}
@media (min-width: 1050px) and (max-width: 1400px) {}

.RegStep2DataBlockGuests {

}

/*END Registration Step Three*/


input[type="file"] {
    display: none;
}
.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}


/*LIST SELECT*/
ul#ListSelectDiyalnist {
    margin-left: -47px;
}
ul#ListSelectDiyalnist li.list-select-category {
    padding: 0;
    list-style: none;
    padding:6px;
    padding-left: 10px;
    margin-top: 0.5%;
    background-color: rgba(128, 128, 128, 0.09);
    border-radius: 5px 5px 5px;
}

ul#ListSelectDiyalnist li.list-select-category:hover span i
{
    transition-duration: 0.2s;
    color: green;
}

/*Category List Style*/
/*ul#ListSelectDiyalnist li.lsc-show:before {
    padding-right:10px;
    font-weight: bold;
    color: #C0C0C0;
    content: "\271A";
    transition-duration: 0.5s;
}
ul#ListSelectDiyalnist li.lsc-hide:before {
    padding-right:10px;
    font-weight: 900;
    color: #C0C0C0;
    content: "\2013";
    transition-duration: 0.5s;
}
ul#ListSelectDiyalnist li.list-select-category:hover::before {
    color: green;
}*/

/*Category List Style*/

ul#ListSelectDiyalnist li.list-select-category,
ul#ListSelectDiyalnist ul.list-select-item-ul li {
    cursor: pointer;
}
ul#ListSelectDiyalnist ul.list-select-item-ul li:hover {
    font-weight: 600;
}
ul#ListSelectDiyalnist li {
    font-size: 1.2em;
}

ul#ListSelectDiyalnist ul.list-select-item-ul {
    margin-left: 20px;
}
ul#ListSelectDiyalnist .list-select-item-ul li {
    font-size: 0.9em;
    padding:2px;
    padding-left: 10px;
}

#ListSelectDiyalnist li.list-select-category span {
    padding: 5px;
    padding-right: 40%;
}
ul#ListSelectDiyalnist .list-select-item-ul {
    list-style: none;
}

ul#ListSelectDiyalnist .list-select-item-ul li.list-select-item-li:before {
    padding-right:15px;
    font-weight: bold;
    color: transparent;
    content: "\2714";
    transition-duration: 0.3s;
}
ul#ListSelectDiyalnist .list-select-item-ul li.list-select-item-li-selected:before {
    color: green;
    transition-duration: 0.3s;
}

@media (max-width: 400px) {
    #ListSelectDiyalnist li.list-select-category span {
        padding: 5px;
        padding-right: 35%;
    }
}
@media (min-width: 400px) and (max-width: 767px) {}
@media (min-width: 768px) and (max-width: 1050px) {}
@media (min-width: 1050px) and (max-width: 1400px) {}
/*END LIST SELECT*/

.InfoBoxPanel .panel-body p{
    font-size: 1.1em;
    text-indent: 20px;
    text-align: justify;
}

/*Login*/

.btn_radio span.glyphicon {
    opacity: 0;
}
.btn_radio.active span.glyphicon {
    opacity: 1;
}


#slide-submenu{
    background: rgba(0, 0, 0, 0.45);
    display: inline-block;
    padding: 0 8px;
    border-radius: 4px;
    cursor: pointer;
}

.lk_content .lk_tabs .hide {
    display: none;
}

.lk_content .lk_tabs .show {
    display: block;
}

