<div class="form-group" id="{$id_field}_div">

    <label for="{$id_field}"> {if isset($required)}<span class="requiredFiledForm">* </span>{/if} {$label}</label>

    <input type="email" class="form-control"
    id="{$id_field}" name="{$id_field}"
    {if isset($placeholder)} placeholder="{$placeholder}" {/if}
    {if isset($required)} required = "" {/if}
    {if isset($default_value)} value="{$default_value}" {/if}
    />

    {if isset($help_info)}
    <small id="{$id_field}_Help" class="form-text text-muted">
        {$help_info}
    </small>
    {/if}

</div>