<!--
    Description
    $label                      - label
    $id_field                   - id_field
    $required                   - required
    $help_info                  - help_info
    $firs_item                  - firs_item
    $items                      - items
    $opt_group_first_element    - opt_group_first_element


    Example
    {*

        {include file="{$view_system_option._URL.form_field_tpl}select.html"
                    id_field="parent_id"
                    label="Батьківський елемент (Рівень)"
                    required=""
                    first_item=$select_parent_id_first
                    opt_group_first_element="Нульовий рівень"
                    items=$select_parent_id_item
                    help_info = "Батьківський елемент, тобто під яким елементом по іїєрархії буде знаходитись елемент який створуєтсья."
                }

    *}
-->



<div class="form-group">
    <label for={$id_field}>{$label}</label>
    <select class="form-control"

            style="
                height: 2em;
            "

            id="{$id_field}" name = "{$id_field}"
            {if isset($required)} required = "" {/if},
    >

        {if (isset($first_item) && !empty($first_item))}

            {if isset($opt_group_first_element)}
            <optgroup label="{$opt_group_first_element}">
            {/if}
                <option value="{$first_item.value}"> {$first_item.label} </option>
            {if isset($opt_group_first_element)}
            </optgroup>
            {/if}

        {/if}

        {if (isset($items) && !empty($items))}
            {foreach from=$items item="item"}
                <option
                        {if $id_field eq "client"}
                            {$attribute_name} = "{$item[$attribute_name_index]}"
                        {/if}
                        value="{$item.id}">{$item.name}</option>
            {/foreach}
        {/if}


    </select>

    {if isset($help_info)}
        <small id="{$id_field}_Help" class="form-text text-muted">
            {$help_info}
        </small>
    {/if}

</div>