{if not empty($tableConfig['base_config']) && not empty($tableConfig['show_data'])}
<table class="table table-responsive table-bordered table-hover TableFilterField" {if isset($id_field)} id="{$id_field}" {/if} >

    <thead>
        <tr>
                {if $tableConfig['base_config']['auto_increment'] eq 1}<th>#</th>{/if}
                {foreach from=$tableConfig['base_config']['rows_caption'] key="key_caption" item="item_caption"}
                <th
                        {if $tableConfig['base_config']['sort_filed'] eq $key_caption}
                            data-sort-type="{$tableConfig['base_config']['sort_type']}"
                        {/if}

                        data-filed-name="{$key_caption}"
                >
                    {$item_caption}
                </th>
            {/foreach}
        </tr>
    </thead>
    <tbody>
        {foreach from=$tableConfig["show_data"] key="key_tr" item="item_tr"}
        <tr
                {if not empty($item_tr["data"])}
                    {if isset($item_tr["data"]["data-href"])}data-href="{$item_tr["data"]["data-href"]}"{/if}
                {/if}
        >
            {if $tableConfig['base_config']['auto_increment'] eq 1}<td>{$item_tr.increment}</td>{/if}
            {foreach from=$tableConfig['base_config']['rows_caption'] key="key_caption" item="item_caption"}
            <td>
                {$item_tr.$key_caption}
            </td>
            {/foreach}
        </tr>
        {/foreach}
    </tbody>

</table>
{/if}