<form name="allInfoAboutGuest" id="allInfoAboutGuest" method="post" action="">
    <div class="col-sm-12 AdminBlockControl">

        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="panel-title">Панель керування</div>
            </div>
            <div class="panel-body">
                <div class="buttons">
                    <button type="submit" class="btn btn-danger"> Зберегти зміни </button>
                    <button class="btn btn-success" type="button" id="createTicket">Сформувати квиток</button>
                    <button class="btn btn-success" type="button" id="open_lk">Відкрити доступ в особистий кабінет</button>
                </div>

            </div>
        </div>

    </div>
    <div class="col-sm-12 AdminBlockTabs" >
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#base_info">Основна інфомрація</a></li>
            <li><a data-toggle="tab" href="#guest_info">Гості</a></li>
            <!--<li><a data-toggle="tab" href="#file_info">Файли</a></li>-->
        </ul>
        <div class="tab-content">
            {include file="nz_admin/view/visitors/tabs/base_info.html"}
            {include file="nz_admin/view/visitors/tabs/guest_info.html"}
        </div>
    </div>
</form>

{include file="{$view_system_option._URL.form_field_tpl}error_box.html"}
{include file="{$view_system_option._URL.form_field_tpl}loading.html"}

<input type="hidden" id="idSelectedItemPartner" value="{$data['main_info']['id']}"/>
<script type="application/javascript">
    function  ON_PAGE_LOAD_1() {
        $("#allInfoAboutGuest").submit(function (ev) {
            if (confirm("Ви впевненні що хочете виконати зміни?")) {
                $.post(
                        "/nz_admin/visitors/update/"+$("#idSelectedItemPartner").val(),
                        $("#allInfoAboutGuest").serialize(),
                        function (response) {
                            response = JSON.parse(response);
                            if (response[0] == "true")
                            {
                                location.reload();
                            }else
                            {
                                showMsgError(response[0], "Інформація");
                            }
                        }
                );
            }
            return false;
        });

        $("#createTicket").click(function () {
            if (confirm("Ви впевненін що хочете сформувати квиток?")) {

                $.ajax({
                    type: "POST",
                    processData:false,
                    contentType: false,
                    url: "/nz_admin/visitors/create_ticket-"+$("#idSelectedItemPartner").val(),
                    data: {
                        'id': $("#idSelectedItemPartner").val()
                    },
                    beforeSend: function () {
                        $("#LoadingBox").modal("show");
                    },
                    success: function( response )
                    {
                        $("#LoadingBox").modal("hide");

                        response = JSON.parse(response);
                        var msg = "";
                        if (response[0] == null)
                        {
                            msg = "Квитки сформовано. <br> <strong>Перезавнатжте сторінку!</strong>";
                        }else if (response[0] == false)
                        {
                            msg = "Не виконано, перевірте реквізити!";
                        }else  {
                            msg = "Помилка, спробуйте пізніше!";
                        }
                        showMsgError(msg, "Інформація");
                    }
                });

            }
        });

        $("#open_lk").click(function () {
            $.ajax({
                type: "POST",
                processData:false,
                contentType: false,
                url: "/nz_admin/visitors/open_lk-"+$("#idSelectedItemPartner").val(),
                data: {
                    'id': $("#idSelectedItemPartner").val()
                },
                /*beforeSend: function () {
                    $("#LoadingBox").modal("show");
                },*/
                success: function( response )
                {
                    $("#LoadingBox").modal("hide");

                    response = JSON.parse(response);
                    var msg = "";
                    if (response[0] == null)
                    {
                        location.reload();
                    }else  {
                        msg = "Помилка, спробуйте пізніше!";
                    }
                    showMsgError(msg, "Інформація");

                }
            });
        });

    }
</script>