<div class="col-sm-12 ">
    {include file="{$view_system_option._URL.form_field_tpl}table_filter.html"
    id_field="tableVisitors"
    tableConfig = $tableConfig
    }
</div>


<script type="application/javascript">
    function ON_PAGE_LOAD_1() {

    }
</script>

