
<form class="FormLogin" style="margin-top: 15%;" method="post" action="/nz_admin/validLogin/">

    <div class="row">
        <div class="col-sm-3 col-sm-offset-3">
            <div class="form-group">
                <input type="text" class="form-control" name="nz_admin_login" id="nz_admin_login" placeholder="login"/>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3 col-sm-offset-3">
            <div class="form-group">
                <input type="password" class="form-control" name="nz_admin_password" id="nz_admin_password" placeholder="password"/>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-3 col-sm-offset-3">
            <div class="form-group">
                <input type="hidden" name="hashField" id="hashField" value="{$hashField}"/>
                <button type="submit" class="btn btn-default">Увійти</button>
            </div>
        </div>
    </div>

</form>



<script type="application/javascript">
    function  ON_PAGE_LOAD_1() {

    }
</script>