<form name="allInfoAboutPartner" id="allInfoAboutPartner" method="post" action="">
    <div class="col-sm-12 AdminBlockControl">
        <div class="panel panel-warning">
            <div class="panel-heading">
                <div class="panel-title">
                    Інструкція
                </div>
            </div>
            <div class="page-body" style="padding-left: 50px; padding-top: 20px;">
                <p>
                    <strong>* Перед тим як виконувати формування договру необхідно перейти у вкладку "Інформація для договору" та виконати попередню підготовку та перевірку реквізитів договру, а саме:</strong>
                </p>
                <ul>
                    <li>Провідміняти ПІП директора в родовому відмінку автоматично (за допомогою кнопки "Провідміняти ПІП Директора") чи вручну</li>
                    <li>Розшифруваати абрівіатуру організаційно правової форми компанії автоматично (за допомогою кнопки "Розшифрувати організаційно правову форму") чи вручну</li>
                    <li><strong>Перевірити усі реквізити договру на коректність та правильність введення</strong></li>
                </ul>
                <p>
                    <strong>* Формування квитка:</strong>
                    <ul>
                        <li>Натиснути кнопку "Сформувати квиток"</li>
                        <li>Дочекатись завершення формування</li>
                        <li>Щоб переглянути квиток оновіть сторінку після завершення формування, перейти у вклаку "Файли", натиснути кнопку "Скачати квиток".</li>
                    </ul>
                </p>
            </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="panel-title">Панель керування</div>
            </div>
            <div class="panel-body">
                <div class="row buttons">
                    <div class="col-sm-12">
                        <button class="btn btn-danger" type="submit" >Зберегти зміни</button>
                        <button class="btn btn-success" type="button" id="createDogovyr">Сформувати договір</button>
                        <button class="btn btn-success" type="button" id="createTicket">Сформувати квиток</button>
                        <button class="btn btn-success" type="button" id="open_lk">Відкрити доступ в особистий кабінет</button>
                        <!--<button class="btn btn-danger" id="registrationPartner">Зареєструвати учасника</button>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12 AdminBlockTabs" >
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#base_info">Основна інфомрація</a></li>
            <li><a data-toggle="tab" href="#dogovyr_info">Інформація для договору</a></li>
            <li><a data-toggle="tab" href="#guest_info">Гості</a></li>
            <li><a data-toggle="tab" href="#file_info">Файли</a></li>
        </ul>
        <div class="tab-content">
            {include file="nz_admin/view/partners/tabs/base_info.html"}
            {include file="nz_admin/view/partners/tabs/dogovyr_info.html"}
            {include file="nz_admin/view/partners/tabs/guest_info.html"}
            {include file="nz_admin/view/partners/tabs/file_info.html"}
        </div>
    </div>
</form>

{include file="{$view_system_option._URL.form_field_tpl}error_box.html"}
{include file="{$view_system_option._URL.form_field_tpl}loading.html"}
<input type="hidden" id="idSelectedItemPartner" value="{$data['main_info']['id']}"/>
<form id="fakeForm_DownloadFile" name="fakeForm_DownloadFile" action="/nz_admin/partners/download_file" method="POST">
    <input type="hidden" name="url" id="url" value=""/>
    <input type="hidden" name="file_name" id="file_name" value=""/>
</form>

<script type="application/javascript">

    function  ON_PAGE_LOAD_1() {

        $("#allInfoAboutPartner").submit(function (ev) {
            if (confirm("Ви впевненні що хочете виконати зміни?")) {
                $.post(
                        "/nz_admin/partners/update/"+$("#idSelectedItemPartner").val(),
                        $("#allInfoAboutPartner").serialize(),
                        function (response) {
                            response = JSON.parse(response);
                            if (response[0] == "true")
                            {
                                location.reload();
                            }else
                            {
                                showMsgError(response[0], "Інформація");
                            }
                        }
                );
            }
            return false;
        });

        $("#createDogovyr").click(function () {
            if (confirm("Ви впевненін що хочете сформувати договір?")) {
                $.post(
                        "/nz_admin/partners/create_dogovyr",
                        {
                            'id': $("#idSelectedItemPartner").val()
                        },
                        function (data) {

                            data = JSON.parse(data);

                            if(data[0] == "true")
                            {
                                showMsgError("Договір сформовано <h4>Перезавантажте сторінку!</h4>", "Інформація");
                            }else {
                                showMsgError(data[0], "Інформація");
                            }
                        }
                );
            }
        });

        $("#nameCaseItem").click(function () {

            $.post(
                    "/nz_admin/partners/name_case_item-"+$("#idSelectedItemPartner").val(),
                    {
                        'id': $("#idSelectedItemPartner").val()
                    },
                    function (response) {

                        response = JSON.parse(response);
                        if(response[0] == "true")
                        {
                           location.reload();
                        }else {
                            showMsgError(response[0], "Інформація");
                        }
                    }
            );

        });

        $("#organiza_prav_forma").click(function () {
            $.post(
                    "/nz_admin/partners/organiza_prav_forma-"+$("#idSelectedItemPartner").val(),
                    {
                        'id': $("#idSelectedItemPartner").val()
                    },
                    function (response) {

                        response = JSON.parse(response);
                        if(response[0] == true)
                        {
                            location.reload();
                        }else {
                            showMsgError(response[0], "Інформація");
                        }
                    }
            );
        });


        /**
         * Скачати файли компанії
         */
        $(".DownloadFilePartnerItem").click(function () {
            var fakaForm = $("#fakeForm_DownloadFile");
            fakaForm.find("#url").val($(this).attr("data-url"));
            fakaForm.find("#file_name").val($(this).attr("data-file_name"));
            $("#fakeForm_DownloadFile").submit();
        });

        $("#prepareDataDogovyr").click(function () {
            $.post(
                    "/nz_admin/partners/prepare_data_dogovyr-"+$("#idSelectedItemPartner").val(),
                    {
                        'id': $("#idSelectedItemPartner").val()
                    },
                    function (response) {
                        response = JSON.parse(response);

                        var msg_text = "<ul>";
                        for(var i=0; i<response.length; i++){
                            msg_text= msg_text+"<li>"+response[i]+"</li>";
                        }

                        showMsgError(msg_text+"</ul> <h4>Перезавнатжте сторінку!</h4>", "Інформація");
                    }
            );
        });

        $("#createTicket").click(function () {
            if (confirm("Ви впевненін що хочете сформувати квиток?")) {

                $.ajax({
                    type: "POST",
                    processData:false,
                    contentType: false,
                    url: "/nz_admin/partners/create_ticket-"+$("#idSelectedItemPartner").val(),
                    data: {
                        'id': $("#idSelectedItemPartner").val()
                    },
                    beforeSend: function () {
                        $("#LoadingBox").modal("show");
                    },
                    success: function( response )
                    {
                        $("#LoadingBox").modal("hide");

                        response = JSON.parse(response);
                        var msg = "";
                        if (response[0] == null)
                        {
                            msg = "Квитки сформовано. <br> <strong>Перезавнатжте сторінку!</strong>";
                        }else if (response[0] == false)
                        {
                            msg = "Не виконано, перевірте реквізити!";
                        }else  {
                            msg = "Помилка, спробуйте пізніше!";
                        }
                        showMsgError(msg, "Інформація");
                    }
                });

            }
        });

        $("#open_lk").click(function () {
            $.ajax({
                type: "POST",
                processData:false,
                contentType: false,
                url: "/nz_admin/partners/open_lk-"+$("#idSelectedItemPartner").val(),
                data: {
                    'id': $("#idSelectedItemPartner").val()
                },
                beforeSend: function () {
                    $("#LoadingBox").modal("show");
                },
                success: function( response )
                {
                    $("#LoadingBox").modal("hide");

                    response = JSON.parse(response);
                    var msg = "";
                    if (response[0] == null)
                    {
                        location.reload();
                    }else  {
                        msg = "Помилка, спробуйте пізніше!";
                    }
                    showMsgError(msg, "Інформація");

                }
            });
        });

        $("#nameCaseItem_Posada_Dyr").click(function () {

            $.post(
                "/nz_admin/partners/name_case_item_posada_dyr/",
                {
                    'id': $("#idSelectedItemPartner").val(),
                },
                function (response) {
                    $("#LoadingBox").modal("hide");

                    response = JSON.parse(response);
                    var msg = "";
                    if (response[0] == 'true')
                    {
                        location.reload();
                    }else  {
                        msg = "Помилка \n"+response[0];
                    }
                    showMsgError(msg, "Інформація");
                }
            );

        });


        $("#sendDogovyr").click(function () {

            $.post(
                "/nz_admin/partners/send_dogovyr",
                {
                    'id': $("#idSelectedItemPartner").val()
                },
                function (response) {
                    $("#LoadingBox").modal("hide");

                    response = JSON.parse(response);
                    var msg = "";
                    if (response[0] == 'true')
                    {
                        msg = "Договір відправленн успішно.";
                    }else  {
                        msg = "Договір не відправленно. Перевірте усі реквізити. Текст помилки: "+response[0];
                    }
                    showMsgError(msg, "Інформація");
                }
            );

        });

        $("#creatAndSaveSpec").click(function () {

            $.post(
                "/nz_admin/partners/create_and_save_spec",
                {
                    'id': $("#idSelectedItemPartner").val()
                },
                function (response) {
                    $("#LoadingBox").modal("hide");

                    response = JSON.parse(response);
                    var msg = "";
                    if (response[0] == 'true')
                    {
                        msg = "Специфікацію сформовано та відправленно успішно.";
                    }else  {
                        msg = "Специфікацію не відправленно. Перевірте усі реквізити Текст помилки: "+response[0];
                    }
                    showMsgError(msg, "Інформація");
                }
            );

        });

    }

</script>