<div class="col-sm-12 ">
    {include file="{$view_system_option._URL.form_field_tpl}table_filter.html"
    id_field="tablePartner"
    tableConfig = $tableConfig
    }
</div>

<!--<table class="table table-responsive table-bordered table-hover AdminInfoTables AdminInfoTables-sort">
    <thead>
        <tr>
            <th>Підприємство</th>
            <th>ПІП відповідального</th>
            <th>Моб. відповідального</th>
            <th>Email відповідального</th>
            <th>Назва тарифного плану</th>
            <th>Статус</th>
        </tr>
    </thead>

    <tbody>
        {foreach from=$base_data_company item="item"}
            <tr data-href="/nz_admin/partners/item/{$item.id}">
                <td>{$item.name_factory}</td>
                <td>{$item.pip_v}</td>
                <td>{$item.mob_v}</td>
                <td>{$item.email_v}</td>
                <td>{$item.taryf}</td>
                <td>{$item.status}</td>
            </tr>
        {/foreach}
    </tbody>
</table>-->
<script type="application/javascript">
    function ON_PAGE_LOAD_1() {

    }
</script>