<div class="col-sm-12">

    <form name="addConfigForm_Json" id="addConfigForm_Json" action="" method="post" data-id-config="{$id_config}">

        <div class="panel panel-danger">
            <div class="panel-body" style="text-align: right; padding-top: 1%;">
                <button type="button" class="btn btn-danger" id="AddValueFiled">Add field</button>
                <button type="submit" class="btn btn-danger">Save</button>
            </div>
        </div>

        {include file="{$view_system_option._URL.form_field_tpl}text.html"
        id_field="type_config"
        label="type_config"
        required=""
        default_value="json_params"
        }

        {include file="{$view_system_option._URL.form_field_tpl}text.html"
        id_field="name"
        label="name"
        required=""
        }

        {include file="{$view_system_option._URL.form_field_tpl}text.html"
        id_field="coment"
        label="comment"
        }

        <div class="items"> </div>
    </form>
    <div class="item_template" style="display: none">

        <div class="panel panel-default item" data-id-field="%id%" id="item_field_id[%id%]">
            <div class="panel-heading">
                <div class="panel-title">
                    <button type="button" class="btn btn-default remove_field" data-id-field="%id%"><i class="fa fa-times-circle"></i></button>
                </div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="value[%id%][name]">Name value</label>
                            <input type="text" name="value[%id%][name]" id="value[%id%][name]"  class="form-control"/>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="value[%id%][val]">Name value</label>
                            <input type="text" name="value[%id%][val]" id="value[%id%][val]" class="form-control"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


<script type="application/javascript">
    function ON_PAGE_LOAD_1 () {

        var cnt_field_row = 0;

        $("#AddValueFiled").click(function () {
            var template = $(".item_template").html().replace(/\%id%/g, cnt_field_row);
            $("#addConfigForm_Json .items").append(template);
            cnt_field_row = cnt_field_row + 1;
        });

        $("#addConfigForm_Json").submit(function (ev) {

            var form = $("#addConfigForm_Json").serialize();

            $.post(
                    "/nz_admin/config/update_json-0",
                    form,
                    function (response) {
                        response = JSON.parse(response)

                        if (response[0] == "true"){
                            location.href = "/nz_admin/config/";
                        }
                        else {
                            alert("Виникла помилка");
                        }

                    }
            );

            return false;
        });

        $(document).delegate("button.remove_field", "click", function () {
            $(this).parent().parent().parent().remove();
        });

    }
</script>

