<div class="col-sm-12">

    <form name="editConfigForm_Json" id="editConfigForm_Json" action="" method="post" data-id-config="{$id_config}">

        <div class="panel panel-danger">
            <div class="panel-body" style="text-align: right; padding-top: 1%;">
                <button type="button" class="btn btn-danger" id="AddValueFiled">Add field</button>
                <button type="submit" class="btn btn-danger">Save</button>
            </div>
        </div>

        {include file="{$view_system_option._URL.form_field_tpl}text.html"
        id_field="type_config"
        label="type_config"
        required=""
        default_value="{$data_config.type_config}"
        }

        {include file="{$view_system_option._URL.form_field_tpl}text.html"
        id_field="name"
        label="name"
        required=""
        default_value="{$data_config.name}"
        }

        {include file="{$view_system_option._URL.form_field_tpl}text.html"
        id_field="coment"
        label="comment"
        default_value="{$data_config.coment}"
        }

        <div class="items">
            {foreach from=$data_value key="key_val" item="item_val"}

                <div class="panel panel-default item" data-id-field="{$key_val}" id="item_field_id[{$key_val}]">
                    <div class="panel-heading">
                        <div class="panel-title">
                            <button type="button" class="btn btn-default remove_field" data-id-field="{$key_val}"><i class="fa fa-times-circle"></i></button>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="value[{$key_val}][name]"><span> * </span>Name field</label>
                                    <input type="text" name="value[{$key_val}][name]" id="value[{$key_val}][name]" class="form-control" required="" value="{$item_val.name}"/>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="value[{$key_val}][val]"><span> * </span>Value field</label>
                                    <input type="text" name="value[{$key_val}][val]" id="value[{$key_val}][val]" class="form-control" required="" value="{$item_val.val}"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            {/foreach}

        </div>
    </form>
    <div class="item_template" style="display: none">

        <div class="panel panel-default item" data-id-field="%id%" id="item_field_id[%id%]">
            <div class="panel-heading">
                <div class="panel-title">
                    <button type="button" class="btn btn-default remove_field" data-id-field="%id%"><i class="fa fa-times-circle"></i></button>
                </div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="value[%id%][name]">Name value</label>
                            <input type="text" name="value[%id%][name]" id="value[%id%][name]"  class="form-control"/>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="value[%id%][val]">Name value</label>
                            <input type="text" name="value[%id%][val]" id="value[%id%][val]" class="form-control"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<input type="hidden" id="cnt_value" value="{if isset($cnt_value)}{$cnt_value}{else}0{/if}"/>
<script type="application/javascript">
    function ON_PAGE_LOAD_1 () {

        var cnt_field_row = parseInt($("#cnt_value").val());

        $("#editConfigForm_Json").submit(function (ev) {

            var form = $("#editConfigForm_Json").serialize();

            $.post(
                    "/nz_admin/config/update_json-{$id_config}",
                    form,
                    function (response) {
                        response = JSON.parse(response)

                        if (response[0] == "true"){
                            location.reload();
                        }
                        else {
                            alert("Виникла помилка");
                        }

                    }
            );

            return false;
        });

        $("#AddValueFiled").click(function () {
            var template = $(".item_template").html().replace(/\%id%/g, cnt_field_row);
            $("#editConfigForm_Json .items").append(template);
            cnt_field_row = cnt_field_row + 1;
        });

        $(document).delegate("button.remove_field", "click", function () {
            $(this).parent().parent().parent().remove();
        });

    }
</script>

