<style> .table tbody tr td { padding: 2px; } </style>

<div class="panel panel-primary">
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-12">
                <button type="button" class="btn btn-primary btn-sm " id="addNoJson">
                    Додати налаштування
                </button>
                <a href="/nz_admin/config/add_json_item/">
                    <button type="button" class="btn btn-primary btn-sm" id="addJson">
                        Додати масив налаштуваннь
                    </button>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">

            </div>
        </div>
    </div>
</div>

<div class="col-sm-12">
    <table class="table table-bordered table-responsive table-hover">
        <thead>
            <tr>
                <th></th>
                <td></td>
                <th>id</th>
                <th>type_config</th>
                <th>name</th>
                <th>value</th>
                <th>comment</th>
            </tr>
        </thead>
        <tbody>
            {foreach from=$data item="item"}
                <tr>
                    <td>
                        <button class="btn btn-sm btn-primary btnEditConfig" data-id="{$item.id}"><i class="fa fa-edit"></i></button>
                    </td>
                    <td>
                        <button class="btn btn-sm btn-primary btnDeleteConfig" data-id="{$item.id}"><i class="fa fa-times-circle"></i></button>
                    </td>
                    <td>{$item.id}</td>
                    <td>{$item.type_config}</td>
                    <td>{$item.name|truncate:40}</td>
                    <td>{$item.value|truncate:40}</td>
                    <td>{$item.coment|truncate:40}</td>
                </tr>
            {/foreach}
        </tbody>
    </table>
</div>

<!---->
<div id="editConfigField_NoJson" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <form name="editConfigForm_NoJson" id="editConfigForm_NoJson" action="" method="post" data-type="edit">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Редагування настройки</h4>
                </div>
                <div class="modal-body">


                        {include file="{$view_system_option._URL.form_field_tpl}text.html"
                        id_field="type_config"
                        label="type_config"
                        required=""}

                        {include file="{$view_system_option._URL.form_field_tpl}text.html"
                        id_field="name"
                        label="name"
                        required=""}

                        {include file="{$view_system_option._URL.form_field_tpl}text.html"
                        id_field="value"
                        label="value"
                        required=""}

                        {include file="{$view_system_option._URL.form_field_tpl}text.html"
                        id_field="coment"
                        label="comment"}


                </div>
                <div class="modal-footer">
                    <input type="hidden" id="selectIdConfig" value="">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-success">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script type="application/javascript">

    function ON_PAGE_LOAD_1 () {
        $("#editConfigForm_NoJson").submit(function (ev) {

            var form = $("#editConfigForm_NoJson").serialize();

            var url = "";
            if ($("#editConfigForm_NoJson").attr("data-type") == "edit")
            {
                url =  "/nz_admin/config/update-"+$("#selectIdConfig").val();
            }else {
                url =  "/nz_admin/config/update-0";
            }

            $.post(
                    url,
                    form,
                    function (response) {
                        response = JSON.parse(response)

                        if (response[0] == "true"){
                            location.reload();
                        }
                        else {
                            alert("Виникла помилка");
                        }
                    }
            );

            return false;
        });


        $(".btnEditConfig").on("click", function () {

            var config_id = $(this).attr("data-id");
            $("#selectIdConfig").val(config_id);

            $.post(
                    "/nz_admin/config/getConfigById-"+config_id,
                    [],
                    function (response) {
                        response = JSON.parse(response);

                        var formId = $("#editConfigForm_"+response['modal']);

                        formId.find("input#type_config").val(response['type_config']);
                        formId.find("input#name").val(response['name']);
                        formId.find("input#coment").val(response['coment']);

                        if (response['modal'] == "Json") {

                            location.href = "/nz_admin/config/json-item-"+config_id;

                        }else if (response['modal'] = "NoJson") {
                            formId.find("input#value").val(response['value']);
                        }
                        $("#editConfigField_"+response['modal']).modal();
                    }
            );

        });
        $(".btnDeleteConfig").on("click", function () {

            if (confirm("Ви впевненні що бажаєте видалити налаштуваання?"))
            {
                var config_id = $(this).attr("data-id");
                $.post(
                        "/nz_admin/config/delete-"+config_id,
                        {
                            id: config_id
                        },
                        function (response) {
                            response = JSON.parse(response)

                            if (response[0] == "true"){
                                location.reload();
                            }
                            else {
                                alert("Виникла помилка");
                            }
                        }
                );
            }

        });


        $("#addNoJson").click(function() {
            $("#editConfigField_NoJson").modal();
            $("#editConfigField_NoJson").find("h4.modal-title").html("Створити налаштування");
            $("#editConfigForm_NoJson").attr("data-type", "add");



        });

    }

</script>

