<div class="row">

    <div class="col-sm-10 col-sm-offset-1">

        <table class="table table-responsive">
            <caption> Учаснки </caption>
            <tbody>

            <!---->
            <tr>
                <td><button class="btn btn-primary FunctionButton" id="PartnerPrepareDogovir">Підготувати договір</button> </td>
                <td>Зміни виконуються тільки в тому випадку якщо раніше не виконувалось редагування полів, тобто вони пусті!</td>
            </tr>
            <!---->
            <tr>
                <td><button class="btn btn-primary FunctionButton" id="PartnerNameCase">Провідміняти ПІП директора</button> </td>
                <td>Зміни виконуються тільки в тому випадку якщо поле "ПІП Директора в родовому відмінку" пусте!</td>
            </tr>
            <!---->
            <tr>
                <td><button class="btn btn-primary FunctionButton" id="PartnerOrgPravForm">Розшифруваання абрівіатури ОПФ</button> </td>
                <td>Зміни виконуються тільки в тому випадку якщо поле "Організаційно правова форма" пусте!</td>
            </tr>

            </tbody>

        </table>

    </div>

</div>

<script>
    function ON_PAGE_LOAD_1() {

    }
</script>