<div id="base_info" class="tab-pane fade in active">
    <!--Інформація яку не змінити-->
    <div class="panel panel-info">
        <div class="panel-heading">
            <div class="panel-title"></div>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-6">
                    <table class="table table-bordered table-hover">

                        <tbody>
                        <tr>
                            <th>Тарифний план:</th>
                            <td>{$data['main_info']['package_services']['name']}</td>
                        </tr>
                        <tr>
                            <th>Розмір виставкової зони:</th>
                            <td>{$data['main_info']['package_services']['size']}</td>
                        </tr>
                        <tr>
                            <th>Кількість гостей передбачених тарифним планом:</th>
                            <td>{$data['main_info']['package_services']['max_cnt_guest']}</td>
                        </tr>
                        <tr>
                            <th>Зареєстровано гостей</th>
                            <td>{$data['main_info']['len_reg_guest']}</td>
                        </tr>
                        <tr>
                            <th>Ціна:</th>
                            <td>{$data['main_info']['package_services']['price']}</td>
                        </tr>
                        <tr>
                            <th>Види діяльності компанії:</th>
                            <td>{$data['main_info']['diyalnist_implode']}</td>
                        </tr>
                        <tr>
                            <th>Час та дата реєстрації:</th>
                            <td>{$data['main_info']['data_registration']}</td>
                        </tr>
                        <tr>
                            <th>Статус:</th>
                            <td>{$data['main_info']['status']}</td>
                        </tr>

                        </tbody>
                    </table>
                </div>
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-sm-12">
                            {include file="{$view_system_option._URL.form_field_tpl}text.html"
                            id_field="base_info[pip_v]"
                            placeholder="Іванов Іван Іванович"
                            label="ПІБ відповідального"
                            min="5"
                            max="200"
                            required=""
                            default_value="{$data['main_info']['pip_v']}"}
                        </div>
                        <div class="col-sm-12">
                            {include file="{$view_system_option._URL.form_field_tpl}mail.html"
                            id_field="base_info[email_v]"
                            placeholder="mail@mail.com"
                            label="Поштова адреса відповідального"
                            required=""
                            default_value="{$data['main_info']['email_v']}"}
                        </div>
                        <div class="col-sm-12">
                            {include file="{$view_system_option._URL.form_field_tpl}text.html"
                            id_field="base_info[mob_v]"
                            placeholder="380 (99) 999 99 99"
                            label="Номер телефону"
                            min="5"
                            max="200"
                            required=""
                            default_value="{$data['main_info']['mob_v']}"}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>