
<div id="dogovyr_info" class="tab-pane fade">

    <div class="panel panel-success">
        <div class="panel-heading">
            <div class="panel-title">
                Підготувати реквізити договору
            </div>
        </div>
        <div class="panel-body">
            <button class="btn btn-danger" type="button" id="prepareDataDogovyr">Підготувати договір</button>
            <!--<button class="btn btn-success" type="button" id="nameCaseItem">Провідміняти ПІП Директора</button>-->
            <!--<button class="btn btn-success" type="button" id="organiza_prav_forma">Розшифрувати організаційно правову форму</button>-->
            <button class="btn btn-danger" type="button" id="sendDogovyr">Відпавити договір</button>
            <button class="btn btn-danger" type="button" id="creatAndSaveSpec">Сформувати та відправити специфікацію</button>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            {include file="{$view_system_option._URL.form_field_tpl}text.html"
            id_field="dogovyr_info[name_factory]"
            placeholder="ПАП Агропродсервіс"
            label="Назва господарства"
            min="5"
            max="200"
            required=""
            default_value="{$data['dogovyr_info']['name_factory']|replace:'"':''}"}
        </div>
        <div class="col-sm-6">
            {include file="{$view_system_option._URL.form_field_tpl}text.html"
            id_field="dogovyr_info[pip_dyr]"
            placeholder="Іванов Іван Іванович"
            label="ПІП Директора"
            min=5
            max=200
            required=""
            default_value="{$data['dogovyr_info']['pip_dyr']}"}
        </div>
    </div>
    <div class="row">

        <div class="col-sm-4"><!--required=""-->
            {include file="{$view_system_option._URL.form_field_tpl}input_and_btn.html"
            id_field="dogovyr_info[pip_dyr_vid]"
            placeholder="Іванову Івану Івановичу"
            label="ПІП Директора в родовому відмінку"
            min=5
            max=200
            help_info = "Уважно перевірте, тому що відмінювання відбувається автоматично!!!"
            default_value="{$data['dogovyr_info']['pip_dyr_vid']}"
            btn_class="btn-primary"
            btn_id="nameCaseItem"
            btn_label="Провідміняти"
            }
        </div>
        <div class="col-sm-4"><!--required=""-->
            {include file="{$view_system_option._URL.form_field_tpl}text.html"
            id_field="dogovyr_info[posada_dyr]"
            placeholder="директор"
            label="Посада керівника компанії"
            min=5
            max=200
            required=""
            default_value="{$data['dogovyr_info']['posada_dyr']}"
            }
        </div>
        <div class="col-sm-4">{*  *}
            {include file="{$view_system_option._URL.form_field_tpl}input_and_btn.html"
            id_field="dogovyr_info[posada_dyr_rod]"
            placeholder="директора"
            label="Посада керівника компанії (в родовому)"
            btn_class="btn-primary"
            btn_id="nameCaseItem_Posada_Dyr"
            btn_label="Провідміняти"
            default_value="{$data['dogovyr_info']['posada_dyr_rod']}"
            }
        </div>

    </div>
    <div class="row">
        <div class="col-sm-6"><!--required=""-->
            {include file="{$view_system_option._URL.form_field_tpl}input_and_btn.html"
            id_field="dogovyr_info[org_pravova_forma]"
            placeholder="Приватне агропромислове підприємство"
            label="Організаційно правова форма"
            min="5"
            max="200"
            help_info = "Розшифрована організаційно правова форма. Уважно перевірте!!!"
            default_value="{$data['dogovyr_info']['org_pravova_forma']}"
            btn_class="btn-primary"
            btn_id="organiza_prav_forma"
            btn_label="Розшифрувати" }
        </div>

        <div class="col-sm-6">
            {include file="{$view_system_option._URL.form_field_tpl}text.html"
            id_field="dogovyr_info[mob_number]"
            placeholder="380 (99) 999 99 99"
            label="Номер телефону директора"
            required=""
            default_value="{$data['dogovyr_info']['mob_number']}"}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            {include file="{$view_system_option._URL.form_field_tpl}text.html"
            id_field="dogovyr_info[fax_tel]"
            placeholder="(0352) 49-80-32"
            label="Тел./факс підприємства"
            required=""
            default_value="{$data['dogovyr_info']['fax_tel']}"}
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label for="dogovyr_info[pids_diy_dyr]">Підстави дії директора</label>
                <select class="form-control" name="dogovyr_info[pids_diy_dyr]" id="dogovyr_info[pids_diy_dyr]">
                    {foreach from=$param_pids_diy_dyr item="pdis_diu_dyr_item"}
                        <option value="{$pdis_diu_dyr_item}" {if $pdis_diu_dyr_item eq $data['dogovyr_info']['pids_diy_dyr']}selected=""{/if}>{$pdis_diu_dyr_item}</option>
                    {/foreach}
                </select>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            {include file="{$view_system_option._URL.form_field_tpl}text.html"
            id_field="dogovyr_info[region]"
            placeholder="Тернопілська"
            label="Область"
            min=5
            max=200
            required=""
            default_value="{$data['dogovyr_info']['region']}"}
        </div>
        <div class="col-sm-6">
            {include file="{$view_system_option._URL.form_field_tpl}text.html"
            id_field="dogovyr_info[district]"
            placeholder="Тернопільський"
            label="Район"
            min=5
            max=200
            required=""
            default_value="{$data['dogovyr_info']['district']}"}
        </div>
    </div>

    <!--Місто/Село, Вулиця буд. кв. , Індекс-->
    <div class="row">
        <div class="col-sm-4">
            {include file="{$view_system_option._URL.form_field_tpl}text.html"
            id_field="dogovyr_info[city]"
            placeholder="с. Настасів"
            label="Місто/Село"
            min=2
            max=200
            required=""
            default_value="{$data['dogovyr_info']['city']}"}
        </div>
        <div class="col-sm-4">
            {include file="{$view_system_option._URL.form_field_tpl}text.html"
            id_field="dogovyr_info[street]"
            placeholder="Шевченка 21а"
            label="Вулиця буд. кв. "
            min=5
            max=200
            required=""
            default_value="{$data['dogovyr_info']['street']}"}
        </div>
        <div class="col-sm-4">
            {include file="{$view_system_option._URL.form_field_tpl}text.html"
            id_field="dogovyr_info[post_index]"
            placeholder="47734"
            label="Поштовий індекс"
            required=""
            default_value="{$data['dogovyr_info']['post_index']}"}
        </div>
    </div>

    <!--ЄДРПОУ, ІПН , Індекс-->
    <div class="row">
        <div class="col-sm-4">
            {include file="{$view_system_option._URL.form_field_tpl}text.html"
            id_field="dogovyr_info[edrpov]"
            placeholder="8561236"
            label="Код ЄДРПОВ"
            required=""
            default_value="{$data['dogovyr_info']['edrpov']}"}
        </div>
        <div class="col-sm-4">
            {include file="{$view_system_option._URL.form_field_tpl}text.html"
            id_field="dogovyr_info[ipn]"
            placeholder="123856654478"
            label="ІПН"
            required=""
            default_value="{$data['dogovyr_info']['ipn']}"}
        </div>
        <div class="col-sm-4">
            {include file="{$view_system_option._URL.form_field_tpl}number.html"
            id_field="dogovyr_info[numb_svid_pdv]"
            placeholder="13385665447"
            label="№ свідоцтва ПДВ"
            required=""
            default_value="{$data['dogovyr_info']['numb_svid_pdv']}"}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            {include file="{$view_system_option._URL.form_field_tpl}number.html"
            id_field="dogovyr_info[roz_rah]"
            placeholder="26008000022430"
            label="Р/р"
            required=""
            default_value="{$data['dogovyr_info']['roz_rah']}"}
        </div>
        <div class="col-sm-4">
            {include file="{$view_system_option._URL.form_field_tpl}text.html"
            id_field="dogovyr_info[name_bank]"
            placeholder="ПАТ 'АЛЬФА-БАНК' у м. Києві"
            label="Назва банку"
            required=""
            min="3"
            max="200"
            default_value="{$data['dogovyr_info']['name_bank']|replace:'"':''}"}
        </div>
        <div class="col-sm-4">
            {include file="{$view_system_option._URL.form_field_tpl}text.html"
            id_field="dogovyr_info[mfo]"
            placeholder="333666"
            label="МФО Банку"
            required=""
            default_value="{$data['dogovyr_info']['mfo']}"}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            {include file="{$view_system_option._URL.form_field_tpl}text.html"
            id_field="dogovyr_info[3_osoba]"
            placeholder="ПАП Агропродсервіс"
            label="Повна назву компанії, підприємства учасника, якщо є 3 особа"
            min="3"
            max="200"
            default_value="{$data['dogovyr_info']['3_osoba']}"}
        </div>
    </div>

</div>