<div id="file_info" class="tab-pane fade">
    <table class="table table-bordered table-hover">
        {*$file_info|@dump*}
        <tbody>

            <tr>
                <th> Договір: </th>
                <td>
                    {if $file_info['dogovyr'] neq ''}
                        <button class="btn btn-default DownloadFilePartnerItem" type="button"
                                data-url = "{$file_info['dogovyr']}"
                                data-file_name="Договір для {$data['dogovyr_info']['name_factory']}">
                            Скачати договір
                        </button>
                    {else}
                        Договір не сформовано
                    {/if}
                </td>
            </tr>
            <tr>
                <th> Специфікація <small>(якщо формувалась оремо від договру)</small>: </th>
                <td>
                    {if $file_info['spec'] neq ''}
                    <button class="btn btn-default DownloadFilePartnerItem" type="button"
                            data-url = "{$file_info['spec']}"
                            data-file_name="Специфікаці дл договору для {$data['dogovyr_info']['name_factory']}">
                        Скачати специфікацію
                    </button>
                    {else}
                    Специфікацію не сформовано
                    {/if}
                </td>
            </tr>
            <tr>
                <th> Квиток: </th>
                <td>
                    {if $file_info['ticket'] neq ''}
                        <button class="btn btn-default DownloadFilePartnerItem" type="button"
                                data-url = "{$file_info['ticket']}"
                                data-file_name="Квиток для {$data['dogovyr_info']['name_factory']}">
                            Скачати квиток
                        </button>
                    {else}
                        Квиток не сформовано
                    {/if}
                </td>
            </tr>
            <tr>
                <th> Логотип: </th>
                <td>
                    {if $file_info['logo'] neq ''}
                    <button class="btn btn-default DownloadFilePartnerItem" type="button"
                            data-url = "{$file_info['logo']}"
                            data-file_name="Логотип {$data['dogovyr_info']['name_factory']}">
                        Скачати логотип
                    </button>

                    {else}
                        Логотип не завантаженно
                    {/if}
                </td>
            </tr>
        </tbody>

    </table>
</div>
