<div id="guest_info" class="tab-pane fade">
    <div class="AdminGuestsBox">
    {foreach from=$data['guest_info'] item="itemGuest"}
        <div class="panel panel-info GuestItem">
            <div class="panel-heading">
                <div class="panel-title"></div>
            </div>
            <div class="panel-body">
                <div class="row ">
                    <input type="hidden" name="guset_info[{$itemGuest.id}][id]" value="{$itemGuest.id}">
                    <div class="col-sm-4">
                        {include file="{$view_system_option._URL.form_field_tpl}text.html"
                        id_field="guset_info[{$itemGuest.id}][pip_guest]"
                        placeholder="Іванов Іван Іванович"
                        label="ПІБ гостя"
                        min="5"
                        max="200"
                        required=""
                        default_value="{$itemGuest.pip_guest}"}
                    </div>
                    <div class="col-sm-4">
                        {include file="{$view_system_option._URL.form_field_tpl}mail.html"
                        id_field="guset_info[{$itemGuest.id}][email_guest]"
                        placeholder="mail@mail.com"
                        label="E-mail гостя"
                        min="5"
                        max="200"
                        required=""
                        default_value="{$itemGuest.email_guest}"}
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="guset_info[{$itemGuest.id}][mob_num_guest]">Номер телефону гостя</label>
                            <input type="tel"  class="form-control MobNumber" id="guset_info[{$itemGuest.id}][mob_num_guest]" value="{$itemGuest.mob_num_guest}" name="guset_info[{$itemGuest.id}][mob_num_guest]" placeholder="380 (98) 999 99 99" required="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {/foreach}
    </div>


</div>