<div class="col-sm-10 col-sm-offset-1">
    <div class="panel panel-warning InfoBoxPanel">
        <div class="panel-heading">
            {$LANG_VAR.reg_partner.step_4_panel_title_info_result}
        </div>
        <div class="panel-body">
            <p><b>Дякуємо Вам за реєстрацію.</b></p>
            <p>
                На адресу електронного листування, яку Ви вказали при реєстрації, надійдуть електронні квитки, для всіх вказаних Вами представників компанії, підприємства. Просимо  їх роздрукувати.  В день проведення Форуму вони підлягатимуть обміну на реєстраційні бейджики.
            </p>
            <p>
                Крім цього, на вказану Вами електронну скриньку надійде інформація про логін та пароль до особистого кабінету компанії, підприємства-учасника нашого форуму. Там Ви зможете відредагувати, змінити чи доповнити вказані при реєстрації дані. Внесення змін та доповнень можливе до завершення реєстрації – 1 червня 2019 року.
            </p>
        </div>
    </div>
</div>


<div class="col-sm-10 col-sm-offset-1 FormRegistration">
    <div class="row">

        <div class="col-sm-12"> {*$LANG_VAR.reg_guest*}
            <table class="table table-bordered table-responsive">
                <caption> {$LANG_VAR.reg_guest.result_info_factory} </caption>
                <tbody>
                <tr>
                    <th>{$LANG_VAR.reg_guest.label_name_factory}</th>
                    <td>{$main.name_factory}</td>
                </tr>
                <tr>
                    <th>{$LANG_VAR.reg_guest.label_pip_vid}</th>
                    <td>{$main.pip_v}</td>
                </tr>
                <tr>
                    <th>{$LANG_VAR.reg_guest.label_posada}</th>
                    <td>{$main.posada_v}</td>
                </tr>
                <tr>
                    <th>{$LANG_VAR.reg_guest.label_mob_num}</th>
                    <td>{$main.mob_v}</td>
                </tr>
                <tr>
                    <th>{$LANG_VAR.reg_guest.label_email}</th>
                    <td>{$main.email_v}</td>
                </tr>
                <tr>
                    <th>{$LANG_VAR.label_diyalnist}</th>
                    <td>{$diyalnist}</td>
                </tr>
                 </tbody>
            </table>
        </div>
        <div class="col-sm-12">

            {if $guests neq NULL}
            <table class="table table-bordered table-responsive">
                <caption> {$LANG_VAR.reg_guest.result_info_guests} </caption>

                <thead>
                <tr>
                    <th>{$LANG_VAR.reg_guest.label_pip_guest}</th>
                    <th>{$LANG_VAR.reg_guest.label_email}</th>
                    <th>{$LANG_VAR.reg_guest.label_mob_num}</th>
                    <th>{$LANG_VAR.reg_guest.label_posada_guest}</th>
                </tr>
                </thead>
                <tbody>
                {foreach from=$guests item="item"}
                <tr>
                    <td>{$item.pip_guest}</td>
                    <td>{$item.email_guest}</td>
                    <td>{$item.mob_num_guest}</td>
                    <td>{$item.posada_guest}</td>
                </tr>
                {/foreach}
                </tbody>

                <tfoot>
                <tr>
                    <th colspan="2">{$LANG_VAR.reg_guest.result_label_count_guest}</th>
                    <th>{$cnt_guests}</th>
                </tr>
                </tfoot>
            </table>
            {/if}
        </div>
    </div>
</div>

{include file="{$view_system_option._URL.view}registration/error_box.html"}
<script type="application/javascript">
    function ON_PAGE_LOAD_1 () {

    }
</script>