 <div class="col-sm-10 col-sm-offset-1 RegistrationStartPage">
     <div class="row">
         <div class="col-sm-10 col-sm-offset-1 R_ButtonBox">
             <div class="panel panel-default R_InfoBox">
                 <div class="panel-heading">Хто такий учасник форуму?</div>
                 <div class="panel-body">
                     <p>
                         <b>Компанія-учасник</b> – учасник &#8547;-го Міжнародного Форуму аграрних інновацій «Нове Зернятко» - Настасів-2019, який потребує виставкової зони та укладає відповідний договір з організаторами форуму.
                     </p>
                 </div>
             </div>
             <a href="/registration/step-one" class="btn btn-warning" style="background-color: #FFCC01; color: #069844; font-weight: 700;">
                 <span>{$LANG_VAR.start.btn_reg_partner}</span>
             </a>
         </div>
         <div class="col-sm-10 col-sm-offset-1 R_ButtonBox">
             <div class="panel panel-default R_InfoBox">
                 <div class="panel-heading">Хто такий відвідувач форуму?</div>
                 <div class="panel-body">
                     <p>
                         <b>Відвідувач</b> – учасник &#8547;-го Міжнародного Форуму аграрних інновацій «Нове Зернятко» - Настасів-2019, що не потребує виставкової зони та не укладає відповідного договору з організаторами форуму. Відвідувачі можуть знайомитися з експозиціями компаній-учасників форуму, відвідувати демонстраційні поля та діляники, брати участь в локальних заходах, працювати над досягненням бізнес-домовленостей в напрямку розвитку власного бізнесу. Відомості про відвідувача – учасника форуму, а саме, назва компанії, та контактна інформація, вказані при реєстрації, будуть доступні компаніям-учасникам форуму.
                     </p>
                 </div>
             </div>
             <a href="/registration/visitors" class="btn btn-success" style="background-color: #069844; color: #FFCC01; font-weight: 700;">
                 <span>{$LANG_VAR.start.btn_reg_guests}</span>
             </a>
         </div>
     </div>
 </div>

<script type="application/javascript">
    function ON_PAGE_LOAD_1 () {

    }
</script>