{include file="{$view_system_option._URL.view}registration/steps.html" active_step=4}
{include file="{$view_system_option._URL.view}registration/error_box.html"}

<div class="col-sm-10 col-sm-offset-1">
    <div class="panel panel-warning InfoBoxPanel">
        <div class="panel-heading">
            {$LANG_VAR.reg_partner.step_4_panel_title_info_result}
        </div>
        <div class="panel-body">
            <p><b>Дякуємо Вам за реєстрацію.</b></p>
            <p>
                На адресу електронного листування, яку Ви вказали при реєстрації, надійдуть електронні квитки, для всіх вказаних Вами представників компанії. Просимо  їх роздрукувати.  В день проведення Форуму вони підлягатимуть обміну на реєстраційні бейджики.
            </p>
            <p>
                Крім цього, на вказану Вами електронну скриньку надійде інформація про логін та пароль до особистого кабінету компанії, підприємства-учасника нашого форуму. Там Ви зможете відредагувати, змінити чи доповнити вказані при реєстрації дані. Внесення змін та доповнень можливе до завершення реєстрації – 1 червня 2019 року.
            </p>
        </div>
    </div>
</div>

<div class="col-sm-10 col-sm-offset-1 FormRegistration">
    <div class="row">

        <div class="col-sm-12">
            <div class="panel panel-info">
                <div class="panel-heading">
                    {$LANG_VAR.reg_partner.step_4_pack_services} "{$package_services.name}"
                </div>
                <div class="panel-body">
                    <div class="list-group">
                        <span class="list-group-item">
                            <strong>{$LANG_VAR.reg_partner.step_1_tab_f_size}: </strong> {$package_services.size}
                        </span>
                        <span class="list-group-item"><strong>{$LANG_VAR.reg_partner.step_1_tab_f_count_guest}: </strong> {$package_services.max_cnt_guest}</span>
                        <span class="list-group-item"><strong>{$LANG_VAR.reg_partner.step_1_tab_f_price}: </strong> {$package_services.price} грн.</span>
                        {foreach from=$package_services.other item="p_s_other"}
                            <span class="list-group-item"><strong>{$p_s_other}</strong></span>
                        {/foreach}
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-12">

            <table class="table table-bordered table-responsive">
                <caption> {$LANG_VAR.reg_partner.step_4_panel_title_info_factory} </caption>
                <tbody>
                    <tr>
                        <th>{$LANG_VAR.reg_partner.label_pip_vid}</th>
                        <td>{$main.pip_v}</td>
                    </tr>
                    <tr>
                        <th>{$LANG_VAR.reg_partner.label_posada}</th>
                        <td>{$main.posada_v}</td>
                    </tr>
                    <tr>
                        <th>{$LANG_VAR.reg_partner.label_email}</th>
                        <td>{$main.email_v}</td>
                    </tr>
                    <tr>
                        <th>{$LANG_VAR.reg_partner.label_mob_num}</th>
                        <td>{$main.mob_v}</td>
                    </tr>
                    <tr>
                        <th>{$LANG_VAR.label_diyalnist}</th>
                        <td>{$diyalnist}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-sm-12">
            <table class="table table-bordered table-responsive">
                <caption> {$LANG_VAR.reg_partner.step_4_panel_title_info_dogovyr} </caption>
                <tbody>
                    <tr>
                        <th>{$LANG_VAR.reg_partner.step_2_lbl_factory_name}</th>
                        <td>{$dogovyr.name_factory}</td>
                    </tr>
                    <tr>
                        <th>{$LANG_VAR.reg_partner.step_2_lbl_pip_dyr}</th>
                        <td>{$dogovyr.pip_dyr}</td>
                    </tr>
                    <tr>
                        <th>{$LANG_VAR.reg_partner.step_2_lbl_tel_fax}</th>
                        <td>{$dogovyr.fax_tel}</td>
                    </tr>
                    <tr>
                        <th>{$LANG_VAR.reg_partner.step_2_lbl_mob_num_dyr}</th>
                        <td>{$dogovyr.mob_number}</td>
                    </tr>
                    <tr>
                        <th>{$LANG_VAR.reg_partner.step_2_lbl_pids_diy}</th>
                        <td>{$dogovyr.pids_diy_dyr}</td>
                    </tr>
                    <tr>
                        <th>{$LANG_VAR.reg_partner.step_2_lbl_region}</th>
                        <td>{$dogovyr.region}</td>
                    </tr>
                    <tr>
                        <th>{$LANG_VAR.reg_partner.step_2_lbl_district}</th>
                        <td>{$dogovyr.district}</td>
                    </tr>
                    <tr>
                        <th>{$LANG_VAR.reg_partner.step_2_lbl_city}</th>
                        <td>{$dogovyr.city}</td>
                    </tr>
                    <tr>
                        <th>{$LANG_VAR.reg_partner.step_2_lbl_street}</th>
                        <td>{$dogovyr.street}</td>
                    </tr>
                    <tr>
                        <th>{$LANG_VAR.reg_partner.step_2_lbl_post_index}</th>
                        <td>{$dogovyr.post_index}</td>
                    </tr>
                    <tr>
                        <th>{$LANG_VAR.reg_partner.step_2_lbl_edrpov}</th>
                        <td>{$dogovyr.edrpov}</td>
                    </tr>
                    <tr>
                        <th>{$LANG_VAR.reg_partner.step_2_lbl_ipn}</th>
                        <td>{$dogovyr.ipn}</td>
                    </tr>
                    <tr>
                        <th>{$LANG_VAR.reg_partner.step_2_lbl_numb_svid_pdv}</th>
                        <td>{$dogovyr.numb_svid_pdv}</td>
                    </tr>
                    <tr>
                        <th>{$LANG_VAR.reg_partner.step_2_lbl_roz_rah}</th>
                        <td>{$dogovyr.roz_rah}</td>
                    </tr>
                    <tr>
                        <th>{$LANG_VAR.reg_partner.step_2_lbl_bank}</th>
                        <td>{$dogovyr.name_bank}</td>
                    </tr>
                    <tr>
                        <th>{$LANG_VAR.reg_partner.step_2_lbl_mfo}</th>
                        <td>{$dogovyr.mfo}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-sm-12">
            {if $guests neq NULL}
            <table class="table table-bordered table-responsive">
                <caption> {$LANG_VAR.reg_partner.step_4_panel_title_info_guest} </caption>

                <thead>
                <tr>
                    <th>{$LANG_VAR.reg_partner.label_pip_guest}</th>
                    <th>{$LANG_VAR.reg_partner.label_email_guest}</th>
                    <th>{$LANG_VAR.reg_partner.label_mob_number_guest}</th>
                    <th>{$LANG_VAR.reg_partner.label_posada_guest}</th>
                </tr>
                </thead>
                <tbody>
                {foreach from=$guests item="item"}
                <tr>
                    <td>{$item.pip_guest}</td>
                    <td>{$item.email_guest}</td>
                    <td>{$item.mob_num_guest}</td>
                    <td>{$item.posada_guest}</td>

                </tr>
                {/foreach}
                </tbody>

                <tfoot>
                <tr>
                    <th colspan="2">{$LANG_VAR.reg_partner.result_label_count_guest}</th>
                    <th>{$cnt_guests}</th>
                </tr>
                </tfoot>
            </table>
            {/if}
        </div>
    </div>
</div>

<script type="application/javascript">
    function  ON_PAGE_LOAD_1 () {

    }
</script>

