{include file="{$view_system_option._URL.view}registration/steps.html" active_step=1}

<div class="col-sm-10 col-sm-offset-1">
    <div class="panel panel-default InfoBoxPanel">
        <div class="panel-body">
            <p><b>Шановні партнери, колеги, друзі!</b></p>
            <p>
                Ви знаходитесь на сторінці реєстрації компаній, підприємств – учасників  &#8547;-го Міжнародного Форуму аграрних інновацій «Нове Зернятко» - Настасів 2019. Якщо Ваша компанія, підприємство планує стати учасником нашого щорічного традиційного заходу, просимо Вас заповнити всі обов’язкові поля реєстрації.
            </p>
            <p>
                Це займе у вас декілька хвилин зараз, але суттєво скоротить Ваш час при отриманні реєстраційного бейджика в день відкриття. Дякуємо за розуміння та бажаємо плідних взаємних результатів від участі у нашому форумі.
            </p>
            <p>
                <b>
                    Повідомляємо, що реєстрація триватиме до 1 червня 2019 року.
                </b>
            </p>
        </div>
    </div>
</div>
<div class="col-sm-10 col-sm-offset-1 Table_Package_service" >

    <div class="panel panel-default PanelHideButton InfoBoxPanel">
        <div class="panel-heading">{$LANG_VAR.reg_partner.step_1_panel_label}
        </div>
        <div class="panel-body">
            <p>
                <b>Виставкова зона</b> – це територія, відведенна компаніям, підприємствам-учасникам для презентації їх можливостей.
                Чим вища вартість партнерського пакету, тим більша виставкова площа надається організаторами та тим більша кількість представників
                Вашої компанії, підприємства може бути зареєстрована. Зверніть увагу, що після завершення реєстрації, залежно від кількості тих, чи інших виставкових площ,
                організатори формуватимуть карту їх розміщення та розподілятимуть місця в почерговості проведеної реєстрації.
            </p>
        </div>
    </div>

    {*$LANG_VAR.reg_partner.*}
    <table class="table table-responsive table-bordered table-hover">
        <thead>
        <tr>
            <th></th>
            <th>{$LANG_VAR.reg_partner.step_1_tab_f_name}</th>
            <th>{$LANG_VAR.reg_partner.step_1_tab_f_price}</th>
            <th>{$LANG_VAR.reg_partner.step_1_tab_f_size}</th>
            <th>{$LANG_VAR.reg_partner.step_1_tab_f_count_guest}</th>
            <th>А також</th>
        </tr>

        </thead>
        <tbody>
            {foreach from=$package_services_data item="item"}
                <tr>
                    <td class="check-row" data-id="{$item.id}" width="50px" style="font-size: 1.3em;"></td>
                    <td>{$item.name}</td>
                    <td>{$item.price} грн.</td>
                    <td>{$item.size}</td>
                    <td>{$item.max_cnt_guest}</td>
                    <td class="td_other">
                        <ul>
                            {foreach from=$item.other item="other"}
                                <li>{$other}</li>
                            {/foreach}
                        </ul>
                    </td>
                </tr>
            {/foreach}
        </tbody>
    </table>
</div>

<div class="col-sm-2 col-sm-offset-5">
    <form action="/registration/step-two" method="post" id="package_services_form">
        <input type="hidden" name="package_services" id="package_services_input" value="">
        <input type="hidden" name="hashField" value="{$hashField}">
    </form>

    <button type="button" class="btn btn-primary" id="submit_package_services">{$LANG_VAR.btn_accept}</button>
</div>


{include file="{$view_system_option._URL.view}registration/error_box.html"}

<script type="application/javascript">

    function  ON_PAGE_LOAD_1 () {
        $("#submit_package_services").click(function () {
            if ( $("#package_services_input").val() != "") {
                $("#package_services_form").submit();
            }else {
                showMsgError("Оберіть тарифний план!")
            }
        });

        $(".Table_Package_service table tbody tr").click(function () {

            $(".Table_Package_service table tbody tr").each(function (index, val) {
                $(this).find("td.check-row").html("");
                $(this).find("td.check-row").removeClass("p_s_selected");
            });

            $(this).find("td").each(function (index, val) {

                var attr = $(this).attr("data-id");

                if (typeof attr !== undefined && attr !== false)
                {

                    $(this).parent().find("td.check-row").html("<i class='fa fa-check-square '> </i>");
                    $(this).parent().find("td.check-row").addClass("p_s_selected");

                    $("#package_services_input").val(attr);

                   return false;
                }

            });

        });

    }


</script>