{include file="{$view_system_option._URL.view}registration/steps.html" active_step=2}
{include file="{$view_system_option._URL.view}registration/error_box.html"}


<div class="col-sm-10 col-sm-offset-1 FormRegistration">

    <div class="panel panel-default PanelHideButton InfoBoxPanel">
        <div class="panel-heading">Реквізити для договору</div>
        <div class="panel-body">
            <p><b>Шановні партнери, колеги, друзі!</b></p>
            <p>
                В зазначеному розділі, просимо Вас внести дані, які будуть використані для заповнення  договору про участь Вашої компанії, підприємства у форумі. Електронний примірник договору у форматі MS Word Вам буде надіслано на електронну скриньку, вказану Вами при реєстрації до 01.04.2019.
            </p>
        </div>
    </div>

    <form name="form_registration_step1" id="form_registration_step1" action="" method="post">
        <input type="hidden" name="hashField" id="hashField" value="{$hashField}">
        <!--Назва господарства, ПІП Директора-->
        <div class="row">
            <div class="col-sm-6">
                {include file="{$view_system_option._URL.form_field_tpl}text.html"
                id_field="name_factory"
                placeholder="{$LANG_VAR.placeholder_name_factory}"
                label="{$LANG_VAR.reg_partner.step_2_lbl_factory_name}"
                min="5"
                max="200"
                required=""}
            </div>
            <div class="col-sm-6">
                {include file="{$view_system_option._URL.form_field_tpl}text.html"
                id_field="pip_dyr"
                placeholder="{$LANG_VAR.placeholder_pip}"
                label="{$LANG_VAR.reg_partner.step_2_lbl_pip_dyr}"
                min=5
                max=200
                required=""}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                {include file="{$view_system_option._URL.form_field_tpl}text.html"
                id_field="mob_number"
                placeholder="{$LANG_VAR.placeholder_mob}"
                label="{$LANG_VAR.reg_partner.step_2_lbl_mob_num_dyr}"
                required=""}
            </div>
            <div class="col-sm-6">
                {include file="{$view_system_option._URL.form_field_tpl}text.html"
                id_field="fax_tel"
                placeholder="(0352) 49-80-32"
                label="{$LANG_VAR.reg_partner.step_2_lbl_tel_fax}"
                required=""}
            </div>

        </div>

        <div class="row">

            <div class="col-sm-4">
                {include file="{$view_system_option._URL.form_field_tpl}text.html"
                id_field="posada_dyr"
                placeholder="директор"
                label="Посада керівника"
                }
            </div>

            <div class="col-sm-4">
                <div class="form-group">
                    <label for="pids_diy_dyr">{$LANG_VAR.reg_partner.step_2_lbl_pids_diy}</label>
                    <select class="form-control" name="pids_diy_dyr" id="pids_diy_dyr">
                        {foreach from=$param_pids_diy_dyr item="pdis_diu_dyr_item"}
                        <option value="{$pdis_diu_dyr_item}">{$pdis_diu_dyr_item}</option>
                        {/foreach}
                    </select>
                </div>
            </div>

            <div class="col-sm-4">

                <div class="form-group">
                    <label for="typ_osoby"><span class="requiredFiledForm">* </span>{$LANG_VAR.reg_partner.step_2_lbl_typ_osoby}</label>
                    <select class="form-control" id="typ_osoby"> <!--name="typ_osoby"-->
                        <option value="Юридична" selected="" data-type="1">Юридична</option>
                        <option value="Фізична" data-type="2">Фізична</option>
                    </select>
                </div>

            </div>
        </div>

        <!--Область, Район-->
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="region"><span class="requiredFiledForm">* </span>{$LANG_VAR.reg_partner.step_2_lbl_region}</label>
                    <input type="text" class="form-control" id="region" name="region" placeholder="Тернопілська" required="">
                    <div class="list-group select_option_div" id="SelectDivRegion">
                        {foreach from=$regions item="itemRegion"}
                        <span class="list-group-item list-group-item-action">{$itemRegion.oblast}</span>
                        {/foreach}
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <!--reg_form_step_1['district']-->
                <div class="form-group">
                    <label for="district"><span class="requiredFiledForm">* </span>{$LANG_VAR.reg_partner.step_2_lbl_district}</label>
                    <input type="text" class="form-control" id="district" name="district" placeholder="Тернопільський" required="">
                    <div class="list-group select_option_div" id="SelectDivDistrict">
                        <span class="list-group-item list-group-item-action" ></span>
                    </div>
                </div>
            </div>
        </div>

        <!--Місто/Село, Вулиця буд. кв. , Індекс-->
        <div class="row">
            <div class="col-sm-4">
                {include file="{$view_system_option._URL.form_field_tpl}text.html"
                id_field="city"
                placeholder="с. Настасів"
                label="{$LANG_VAR.reg_partner.step_2_lbl_city}"
                min=2
                max=200
                required=""}
            </div>
            <div class="col-sm-4">
                {include file="{$view_system_option._URL.form_field_tpl}text.html"
                id_field="street"
                placeholder="Шевченка 21а"
                label="{$LANG_VAR.reg_partner.step_2_lbl_street}"
                min=5
                max=200
                required=""}
            </div>
            <div class="col-sm-4">
                {include file="{$view_system_option._URL.form_field_tpl}text.html"
                id_field="post_index"
                placeholder="47734"
                label="{$LANG_VAR.reg_partner.step_2_lbl_post_index}"
                required=""}
            </div>
        </div>
        <!--ЄДРПОУ, ІПН , Індекс-->
        <div class="row">
            <div class="col-sm-4">
                {include file="{$view_system_option._URL.form_field_tpl}text.html"
                id_field="edrpov"
                placeholder="8561236"
                label="{$LANG_VAR.reg_partner.step_2_lbl_edrpov}"
                required=""}
            </div>
            <div class="col-sm-4">
                {include file="{$view_system_option._URL.form_field_tpl}text.html"
                id_field="ipn"
                placeholder="123856654478"
                label="{$LANG_VAR.reg_partner.step_2_lbl_ipn}"
                required=""}
            </div>
            <div class="col-sm-4">
                {include file="{$view_system_option._URL.form_field_tpl}number.html"
                id_field="numb_svid_pdv"
                placeholder="13385665447"
                label="{$LANG_VAR.reg_partner.step_2_lbl_numb_svid_pdv}"
                required=""}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                {include file="{$view_system_option._URL.form_field_tpl}number.html"
                id_field="roz_rah"
                placeholder="26008000022430"
                label="{$LANG_VAR.reg_partner.step_2_lbl_roz_rah}"
                required=""}
            </div>
            <div class="col-sm-4">
                {include file="{$view_system_option._URL.form_field_tpl}text.html"
                id_field="name_bank"
                placeholder="ПАТ 'АЛЬФА-БАНК' у м. Києві"
                label="{$LANG_VAR.reg_partner.step_2_lbl_bank}"
                required=""
                min="3"
                max="200"}
            </div>
            <div class="col-sm-4">
                {include file="{$view_system_option._URL.form_field_tpl}text.html"
                id_field="mfo"
                placeholder="333666"
                label="{$LANG_VAR.reg_partner.step_2_lbl_mfo}"
                required=""}
            </div>

        </div>
        <div class="row">
            <div class="col-sm-12">
                {include file="{$view_system_option._URL.form_field_tpl}text.html"
                id_field="3_osoba"
                placeholder="ПАП Агропродсервіс"
                label="Якщо ви є тільки платником (3 особа), вкажіть повну назву компанії, підприємства учасника"
                min="3"
                max="200"}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2 col-sm-offset-5">
                <button type="submit" class="btn btn-primary">{$LANG_VAR.btn_accept}</button>
            </div>
            <input type="hidden" name="recaptcha_response" id="recaptchaResponse">
        </div>
    </form>
</div>

{literal}
<script type="application/javascript">

    function  ON_PAGE_LOAD_1 () {

        $("#form_registration_step1").submit(function (ev) {

            var serialize = $(this).serializeArray();

            $.post(
                    "/reg_agent/validation_data_1",
                    serialize,
                    function (data) {

                        data = JSON.parse(data);
                        if (data[0] == true) {
                            location.href = "/registration/step-three";
                        }
                        else if (data[0]=="NO_ACCESS"){
                            location.href = "/404";
                        }
                        else
                        {
                            var error_msg = "<div class='list-group'>";
                            for (var i=0; i<data.length; i++)
                            {
                                error_msg = error_msg+"<span class='list-group-item'>"+data[i]+"</span>"
                            }
                            error_msg = error_msg+"</div>";
                            $("#errorBoxModal").find(".modal-body").html(error_msg);
                            $("#errorBoxModal").modal()
                            //location.href = "/registration/step-one";
                        }

                    }
            );

            return false;
        });

        /**
        *  ВИПАДАЮЧИ СПИСКИ З АДРЕСОЮ
        */
        $("#region").focus(function () {
            $(".select_option_div").hide();
            $("#SelectDivRegion").show();
        });

        $("#region").keypress(function () {
            var val = $("#region").val();
            $("#SelectDivRegion span").each(function (i, element) {
                if (!$(this).html().match(new RegExp(val)))
                {
                    $(this).hide();
                }else {
                    $(this).show();
                }
            });
        });

        $("#SelectDivRegion span").click(function () {
            $("#region").val($(this).html());
            $(".select_option_div").hide();
        });

        $("#district").focus(function () {
            $(".select_option_div").hide();
            if ($("#region").val() != "")
            {
                $("#SelectDivDistrict").show();
                $.post (
                        "/reg_agent/getAddressValue-1",
                        {
                            "region":$("#region").val()
                        },
                        function (data) {
                            var field = JSON.parse(data);
                            //console.log(field);
                            var html = "";
                            for (var i=0; i<field.length; i++)
                            {
                                html += '<span class="list-group-item list-group-item-action" onclick="void(0)">'+field[i].rayon+'</span>';
                            }
                            $("#SelectDivDistrict").html(html);

                        }
                );
            }
        });

        $("#district").keypress(function () {
            if ($("#region").val() != "")
            {
                var val = $("#district").val();
                $("#SelectDivDistrict span").each(function (i, element) {
                    if (!$(this).html().match(new RegExp(val)))
                    {
                        $(this).hide();
                    }else {
                        $(this).show();
                    }
                });
            }

        });

        $(document).delegate("#SelectDivDistrict span", "click", function () {
            $("#district").val($(this).html());
            $(".select_option_div").hide();
        });

        $("#SelectDivDistrict span").click(function () {
            $("#district").val($(this).html());
            $(".select_option_div").hide();
        });


        $("#address, #city, #email, #name, #pip, #mob_number, #post_index, #street, #edrpov, #ipn, #numb_svid_pdv, #roz_rah, #mfo").focus(function () {
            $(".select_option_div").hide();
        });

        /**
         *  END ВИПАДАЮЧИ СПИСКИ З АДРЕСОЮ
         */

        /**
         * Маска для номера телефону
         */
        $(function(){
            //2. Получить элемент, к которому необходимо добавить маску
            $("#mob_number").mask("380 (99) 999 99 99");
            $("input#post_index").mask("99999");
            $("input#ipn").mask("999999999999");
            $("input#mfo").mask("999999")


            $("input#edrpov").mask("99999999");
        });

        $("#typ_osoby").on("change", function () {
            if ($("#typ_osoby").val() == "Юридична")
            {
                $("input#edrpov").mask("99999999");
            }else {
                $("input#edrpov").mask("9999999999");
            }
        });


    }

</script>
{/literal}