{include file="{$view_system_option._URL.view}registration/steps.html" active_step=3}



<div class="col-sm-10 col-sm-offset-1 FormRegistration">
    <form name="form_registration_step1" id="form_registration_step2" action="" method="post" enctype="multipart/form-data">
        <input type="hidden" name="hashField" id="hashField" value="{$hashField}">
        <div class="panel panel-default PanelHideButton InfoBoxPanel">
            <div class="panel-heading"> {$LANG_VAR.reg_partner.step_3_panel_info_vid}</div>
            <div class="panel-body">
                <p>
                    <b> Уповноважена особа учасника </b> – це представник компанії, підприємства – учасника Форуму , який уповноважений від імені компанії, підприємства представляти її інтереси та вирішувати з організаторами всі пов’язані з участю у Форумі організаційні питання. Уповноважена особа  вносить дані інших представників компанії, підприємства-учасника, які планують взяти безпосередню участь у Форумі 20-21 червня 2019 року, заповнюючи зазначену реєстраційну форму.
                </p>
            </div>
        </div>
        <!--Блок "Дані про відповідального за реєстрацію"-->
        <div class="panel panel-default  RegStep2DataBlock">
            <div class="panel-heading">
                {$LANG_VAR.reg_partner.step_3_panel_title_vid}
            </div>
            <div class="panel-body">
                <div class="row">

                     <div class="col-sm-6">
                         {include file="{$view_system_option._URL.form_field_tpl}text.html"
                         id_field="pip_v"
                         placeholder="{$LANG_VAR.placeholder_pip}"
                         label="{$LANG_VAR.reg_partner.label_pip_vid}"
                         min="5"
                         max="200"
                         required=""}
                     </div>
                    <div class="col-sm-6">
                        {include file="{$view_system_option._URL.form_field_tpl}text.html"
                        id_field="posada_v"
                        placeholder="Менеджер із збуту"
                        label="{$LANG_VAR.reg_partner.label_posada}"
                        min="5"
                        max="200"
                        required=""}
                    </div>

                </div>
                <div class="row">
                    <div class="col-sm-6">
                        {include file="{$view_system_option._URL.form_field_tpl}mail.html"
                        id_field="email_v"
                        placeholder="mail@mail.com"
                        label="{$LANG_VAR.reg_partner.label_email}"
                        required=""}
                    </div>
                    <div class="col-sm-6">
                        {include file="{$view_system_option._URL.form_field_tpl}text.html"
                        id_field="mob_v"
                        placeholder="380 (99) 999 99 99"
                        label="{$LANG_VAR.reg_partner.label_mob_num}"
                        min="5"
                        max="200"
                        required=""}
                    </div>
                </div>
                {* <!--<div class="row">
                    <div class="col-sm-12 TableSelectDiyalnist">
                        <label> <span class="requiredFiledForm">* </span> Вид діяльності господарства </label>
                        <table class="table table-responsive table-bordered table-hover">
                            <thead>
                            <tr>
                                <th></th>
                                <th>Назва</th>
                            </tr>

                            </thead>
                            <tbody>
                                {foreach from=$diyalnist item="item"}
                                    <tr data-id="{$item.id}" data-selected="false">
                                        <td class="check-row" width="100px"></td>
                                        <td>{$item.name}</td>
                                    </tr>
                                {/foreach}
                            </tbody>
                        </table>
                        <input type="hidden" name="diyalnist_id" id="diyalnist_id" value="">
                    </div>
                </div>--> *}
                <div class="row">
                    <div class="col-sm-12 TableSelectDiyalnist">
                        <label> <span class="requiredFiledForm">* </span> {$LANG_VAR.label_diyalnist} </label>
                        <ul id="ListSelectDiyalnist" class="list-select">
                            {foreach from=$diyalnist item="Cat"}
                            <!--minus-square fa fa-plus-square-->
                            <li data-cat-id="{$Cat.id}" class="list-select-category lsc-hide"> <span> <i class="fa fa-minus-square"></i> {$Cat.name}</span>
                                {if NOT empty($Cat.item)}
                                <ul class="list-select-item-ul" style="display: block;">
                                    {foreach from=$Cat.item  item="CatItems"}
                                    <li data-item-id="{$CatItems.id}" class="list-select-item-li" data-selected="false">{$CatItems.name}</li>
                                    {/foreach}
                                </ul>
                                {/if}
                            </li>
                            {/foreach}
                        </ul>
                        <input type="hidden" name="diyalnist_id" id="diyalnist_id" value="">
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <label> <span class="requiredFiledForm">* </span> {$LANG_VAR.reg_partner.label_logo} </label>
                        <div class="upload-logo">
                            <label for="logo-file" class="custom-file-upload">
                                <i class="fa fa-cloud-upload"></i> Оберіть файл
                            </label>
                            <input id="logo-file" name="logo-file" type="file" accept="application/pdf, application/cdr, application/eps, application/ai,application/zip, application/x-rar-compressed"/> <!--pdf,eps,cdr,ai-->
                            <span class="selectedFile"></span>
                            <br/>
                            <small id="" class="form-text text-muted">
                                {$LANG_VAR.reg_partner.label_logo_info}
                            </small>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-default PanelHideButton InfoBoxPanel">
            <div class="panel-heading">{$LANG_VAR.reg_partner.step_3_panel_info_guest}
            </div>
            <div class="panel-body">
                <p>
                    Окрім уповноваженої особи, безпосередню участь в форумі можуть взяти інші <b>представники компанії-учасника</b>. Це розділ для їхньої реєстрації. Максимальна кількість представників від компанії-учасника зазначена у описі до обраного партнерського пакету.
                </p>
            </div>
        </div>
        <!--Блок "Дані про учасників від господарства"-->
        <div class="panel panel-default  RegStep2DataBlock RegStep2DataBlockGuests">
            <div class="panel-heading" style="text-align: right">
                <span style="float: left">{$LANG_VAR.reg_partner.step_3_panel_title_guest}</span>
                <button class="btn btn-warning btn-sm" type="button" id="addFieldsRow">{$LANG_VAR.reg_partner.btn_add_guest_caption}</button>
            </div>
            <div class="panel-body" id="form_registration_step2_guests_box">

            </div>
        </div>

        <!--Кнопка-->
        <div class="row">
            <div class="col-sm-2 col-sm-offset-4">
                <button type="submit" class="btn btn-primary" name="form_registration_step2_submit">{$LANG_VAR.btn_accept}</button>
            </div>
            <div class="col-sm-6">
                <div class="checkbox">
                    <label><input type="checkbox" id="privacy_check" value="on">{$LANG_VAR.text_privacy}</label>
                </div>
            </div>
        </div>
    </form>
</div>

<!---->
<div class="templateFieldRow" style="display: none">
    <div class="panel panel-default" id="form_registration_step2_item_%id%" >
        <div class="panel-heading" style="text-align:  right">
            <button type="button" class="btn btn-default btn-sm btn_delete_panel" data-row-id="#form_registration_step2_item_%id%">
                <i class="fa fa-times-circle"></i>
            </button>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="reg_form_step_2_guest[%id%][pip_guest]"> <span class="requiredFiledForm"> * </span>  {$LANG_VAR.reg_partner.label_pip_guest}</label>
                        <input type="text" class="form-control" id="reg_form_step_2_guest[%id%][pip_guest]" name="reg_form_step_2_guest[%id%][pip_guest]" placeholder="Іванов Іван Іванович" required="">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="reg_form_step_2_guest[%id%][posada_guest]"> <span class="requiredFiledForm"> * </span> {$LANG_VAR.reg_partner.label_posada_guest}</label>
                        <input type="text" class="form-control" id="reg_form_step_2_guest[%id%][posada_guest]" name="reg_form_step_2_guest[%id%][posada_guest]" placeholder="Менеджер із збуту" required="">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="reg_form_step_2_guest[%id%][email_guest]"> <span class="requiredFiledForm"> * </span> {$LANG_VAR.reg_partner.label_email_guest}</label>
                        <input type="email" class="form-control" id="reg_form_step_2_guest[%id%][email_guest]" name="reg_form_step_2_guest[%id%][email_guest]" placeholder="mail@mail.com" required="">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="reg_form_step_2_guest[%id%][mob_num_guest]"> <span class="requiredFiledForm"> * </span>{$LANG_VAR.reg_partner.label_mob_number_guest}</label>
                        <input type="tel"  class="form-control MobNumber" id="reg_form_step_2_guest[%id%][mob_num_guest]" name="reg_form_step_2_guest[%id%][mob_num_guest]" placeholder="380 (98) 999 99 99" required="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!---->

{include file="{$view_system_option._URL.view}registration/error_box.html"}
<script type="application/javascript">
    function  ON_PAGE_LOAD_1 () {

        $("#form_registration_step2").submit(function (ev) {
            ev.preventDefault();

            //diyalnist_id
            var diyalnist_id = "";

            $("#ListSelectDiyalnist .list-select-category ul.list-select-item-ul li.list-select-item-li").each(function (i, v) {
                if ($(this).attr("data-selected") == "true") {
                    diyalnist_id = diyalnist_id+","+$(this).attr("data-item-id")
                }
            });

            $("#diyalnist_id").val(diyalnist_id.slice(1));

            var error = true;

            if ($("#diyalnist_id").val() == "")
            {
                showMsgError("Оберіть вид діяльновсті господарства!");
                error = false;
            }
            else if($(".upload-logo input[type='file']").val() == "") {
                showMsgError("Завантажте логотип компанії!");
                error = false;
            }else if (!$("#privacy_check").is(":checked")) {
                showMsgError("Якщо не ви даєте згоди на обробку персональних даних ми не зможемо вас авторизувати", "Увага");
                error = false;
            }

            if (error == true)
            {
                $.ajax({
                    type: "POST",
                    processData:false,
                    contentType: false,
                    url: "/reg_agent/validation_data_2",
                    data: new FormData(this),
                    success: function( data )
                    {

                        data = JSON.parse(data);

                        if (data[0] == "true") {
                            location.href = "/registration/step-four";
                        }else if (data[0]=="NO_ACCESS"){
                            location.href = "/404";
                        }
                        else
                        {
                            var error_msg = "<div class='list-group'>";
                            for (var i=0; i<data.length; i++)
                            {
                                error_msg = error_msg+"<span class='list-group-item'>"+data[i]+"</span>"
                            }
                            error_msg = error_msg+"</div>";
                            showMsgError(error_msg, "Помилка");
                        }
                    }
                });
            }
            return false;
        });


        $(".upload-logo input[type='file']").on("change", function () {
           $(".upload-logo span.selectedFile").html("<b>Обрано файл: </b>"+$(this).val());
        });

        $(function(){
            $("#mob_v").mask("380 (99) 999 99 99");
        });
        $(document).delegate(".MobNumber", "focus", function () {
            $(".MobNumber").mask("380 (99) 999 99 99");
        });

        /*---*/
        var cnt_field_row = 0;
        var max_cnt_guest = {$package_services_info.max_cnt_guest};
        var curretn_count_gouest = 1;


        var template = $(".templateFieldRow").html().replace(/\%id%/g, cnt_field_row);
        $("#form_registration_step2_guests_box").append(template);

        $("#addFieldsRow").click( function () {
            cnt_field_row = cnt_field_row + 1;
            curretn_count_gouest = curretn_count_gouest + 1;

            if (curretn_count_gouest > max_cnt_guest) {
                showMsgError("Ви обрали пакет послуг '{$package_services_info.name}', який передбачає кількість гостей не більше {$package_services_info.max_cnt_guest} осіб, за кожного додаткового гостя сума оплати збільшиться! ", "Увага");
            }

            var template = $(".templateFieldRow").html().replace(/\%id%/g, cnt_field_row);
            $("#form_registration_step2_guests_box").append(template);


        });

        $(document).delegate("button.btn_delete_panel", "click", function () {
            var id = $(this).attr("data-row-id");
            curretn_count_gouest = curretn_count_gouest - 1;
            $("#form_registration_step2_guests_box").find($(this).attr("data-row-id")).remove();
        });

        /*---*/

        $("#ListSelectDiyalnist li.list-select-category span").click(function () { /*minus-square fa fa-plus-square*/
            if ($(this).parent().hasClass("lsc-show"))
            {
                $(this).parent().removeClass("lsc-show");
                $(this).parent().addClass("lsc-hide");
                $(this).parent().find('.list-select-item-ul').css("display","block");
                $(this).find("i.fa").removeClass("fa-plus-square");
                $(this).find("i.fa").addClass("fa-minus-square");


            }else if ($(this).parent().hasClass("lsc-hide")) {
                $(this).parent().addClass("lsc-show");
                $(this).parent().removeClass("lsc-hide");
                $(this).parent().find('.list-select-item-ul').css("display","none");
                $(this).find("i.fa").removeClass("fa-minus-square");
                $(this).find("i.fa").addClass("fa-plus-square");
            }
        });

        $("#ListSelectDiyalnist .list-select-category ul.list-select-item-ul li.list-select-item-li").click(function () {
            if ($(this).attr("data-selected") == 'false')
            {
                $(this).addClass("list-select-item-li-selected");
                $(this).attr("data-selected","true");
            }else if ($(this).attr("data-selected") == 'true') {
                $(this).removeClass("list-select-item-li-selected");
                $(this).attr("data-selected","false");
            }
        });

    }
</script>