<div class="col-sm-12">
    <div class="ProgressSteps">
        <div class="row bs-wizard" style="border-bottom:0;">
            <!-- complete  active  disabled-->
            <div class="col-xs-3 bs-wizard-step {if $active_step eq 1} active {elseif $active_step gt 1} complete {/if} ">
                <div class="text-center bs-wizard-stepnum">Крок 1</div>
                <div class="progress"><div class="progress-bar"></div></div>
                <span class="bs-wizard-dot"></span>
                <div class="bs-wizard-info text-center">Вибір пакету послуг</div>
            </div>

            <div class="col-xs-3 bs-wizard-step {if $active_step eq 2} active {elseif $active_step gt 2} complete {elseif $active_step lt 2} disabled {/if}"><!-- complete -->
                <div class="text-center bs-wizard-stepnum">Крок 2</div>
                <div class="progress"><div class="progress-bar"></div></div>
                <span class="bs-wizard-dot"></span>
                <div class="bs-wizard-info text-center">Реквізити для договору</div>
            </div>

            <div class="col-xs-3 bs-wizard-step {if $active_step eq 3} active {elseif $active_step gt 3} complete {elseif $active_step lt 3} disabled {/if}">
                <div class="text-center bs-wizard-stepnum">Крок 3</div>
                <div class="progress"><div class="progress-bar"></div></div>
                <span class="bs-wizard-dot"></span>
                <div class="bs-wizard-info text-center">Інформація про учасників</div>
            </div>
            <div class="col-xs-3 bs-wizard-step {if $active_step eq 4} active {elseif $active_step lt 4} disabled {/if}">
                <div class="text-center bs-wizard-stepnum">Крок 4</div>
                <div class="progress"><div class="progress-bar"></div></div>
                <span class="bs-wizard-dot"></span>
                <div class="bs-wizard-info text-center">Дякуємо за реєстрацїю</div>
            </div>
        </div>
    </div>
</div>