<div class="container_item">
    <div class="item">
        <div class="main">
            <div class="title">
                <h4>Ⅳ міжнародний Форум Аграрних Інновацій "Нове Зернятко 2019"</h4>
            </div>
            <div class="body">
                <h4>NameFactory</h4>
                <h4>PIP</h4>
            </div>
            <div class="bottom">
                <div class="text">
                    <p>
                        Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар взяв шрифтову гранку та склав на ній підбірку зразків шрифтів. "Риба" не тільки успішно пережила п'ять століть, але й прижилася в електронному верстуванні
                    </p>
                </div>
                <div class="barcode">
                    <img src="BarCodeURL">
                </div>
            </div>
        </div>
        <!---------------------------------------->
        <div class="vidryv">
            <div class="text">
                <h4>Ⅳ міжнародний Форум Аграрних Інновацій "Нове Зернятко 2019"</h4>
                <h5>NameFactory<br/>PIP</h5>
                <span>Контрольний талон</span>
                <img src="BarCodeURL">
            </div>
        </div>
    </div>
    <img src="nz_admin/view/_system/image/line.png" style="height: 20px; width: 100%">
</div>


