<div class="footer">
    <footer class="site-footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <h6>Форум аграрних інновацій</h6>
                    <p class="text-justify">
                        У співпраці компанії «Агропродсервіс» з нашими партнерами та клієнтами, ми покажемо спільні напрацювання в галузі насінництва, доробки і переробки високоякісного насіннєвого матеріалу. – говорить Андрій Степанович. – А також продемонструємо технології вирощування зернових, зернобобових та технічних культур, які ми використовуємо в нашій діяльності
                    </p>
                </div>

                <div class="col-xs-6 col-md-3">
                    <h6>
                        Підтримка
                    </h6>
                    <p>У випадку виникнення технічних питань щодо реєстрації звертайтеся за вказаними контактами: </p>
                    <ul>
                        <li> <strong>Юзьків Ігор Володимирович</strong> </li>
                        <li>+380 (67) 413 66 26 </li>
                        <li> <strong>i.yuzkiv@aps.te.ua</strong> </li>
                    </ul>

                </div>

                <div class="col-xs-6 col-md-3">
                    <h6>Меню</h6>
                    <ul class="footer-links">
                        {foreach from=$view_system_option.base_menu item="base_menu_item"}
                            <li class="{if $base_menu_item['active'] eq 1}active{/if}"><a href="{$base_menu_item['href']}" title="{$base_menu_item['alt']}">{$base_menu_item['title']}</a></li>
                        {/foreach}
                    </ul>
                </div>
            </div>
            <hr>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-6 col-xs-12">
                    <p class="copyright-text">Copyright &copy; 2019 Всі права захищені</p>
                </div>

                <div class="col-md-4 col-sm-6 col-xs-12">
                    <ul class="social-icons">
                        <li><a class="facebook" target="_blank" title="facebook" href="https://www.facebook.com/Agroprodservice/?ref=page_internal"><i class="fa fa-facebook"></i></a></li>
                        <li><a class="dribbble" target="_blank" title="agroprodservice.com.ua" href="http://agroprodservice.com.ua/"><i class="fa fa-dribbble"></i></a></li>
                        <li><a class="linkedin" target="_blank" title="novezernyatko.com.ua" href="http://novezernyatko.com.ua/"><i class="fa fa-leaf"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</div>
