<div class="msgBox row">
    <div class="col-sm-12">
        <div class="msgBox-panel panel panel-danger">
            <div class="panel-heading">
                <b>Помилка:</b> <span class="msgBox-heading"></span>
            </div>
            <!--<div class="msgBox-body panel-body"></div>-->
        </div>
    </div>
</div>