

<!--
Description
    $id_field       - id_field
    $label          - label
    $placeholder    - placeholder
    $required       - required
    $help_info      - help_info

    Example

                {* include file="{$view_system_option._URL.form_field_tpl}colorPicker.html"
                    id_field="bgColor"
                    label="Колір кнопки"
                    required=""
                *}
-->



<!--<section>
    <label for="color1">Color:</label>
    <input class="basic" id="color1" type="text" value="#FFFFFF" />
    <div class="hsv">
        <input class="rgb">
    </div>
</section>-->

<div class="form-group" id="{$id_field}_div">
    <label for="{$id_field}">{$label}</label>
    <div class="row">
        <div class="col-sm-10">
            <input class="form-control" id="{$id_field}" name="{$id_field}" type="text" value="#00ff00"
                   {if isset($required)} required = "" {/if}
            />
        </div>
        <div class="col-sm-2">
            <a class="advanced" data-id="{$id_field}" href="#" style="background-color:#00ff00;"></a>
        </div>
    </div>
</div>