<!--
    Description
    $id_field       - id_field
    $label          - label
    $placeholder    - placeholder
    $required       - required
    $help_info      - help_info
    $default_value  - default_value
    Example
    {*

    {include file="{$view_system_option._URL.form_field_tpl}text.html"
                id_field="alias"
                placeholder="Унікаальний тест для кнопки який користувач не бачитеме"
                label="Аліас кнопки"
                required=""}

    *}
-->


<div class="form-group" id="{$id_field}_div">

    <label for="{$id_field}">{$label}</label>

    <input type="password" class="form-control"
           id="{$id_field}" name="{$id_field}"
           {if isset($placeholder)} placeholder="{$placeholder}" {/if}
    {if isset($required)} required = "" {/if}
    {if isset($default_value)} value="{$default_value}" {/if}
    />

    {if isset($help_info)}
    <small id="{$id_field}_Help" class="form-text text-muted">
        {$help_info}
    </small>
    {/if}

</div>

