
<div class="form-group">
    <b>{$label}</b>
    <div class="material-switch pull-right">
        <input id="{$id_field}" name="{$id_field}" type="checkbox" {if isset($required)} required = "" {/if}/>
        <label for="{$id_field}" class="label-info"></label>
    </div>
</div>