
<!--

Приклад виклику

{*include file="{$view_system_option._URL.form_field_tpl}table_select.html"

table_id_field=""
label=""
rows_name_array=""
rows_value_array=""
input_id=""


JS обробка описується окремо для кожного екземпляра по ІД

*}
-->
<div class="divTableSelected">
    <table class=" tableSelect table table-info table-bordered table-hover" id="{$table_id_field}"
    {if isset($multi_select) && $multi_select eq true} data-multi_select="true" {/if}>

    <caption>{$label}</caption>
    <thead>

        <tr>
            {foreach from=$rows_name_array key="key" item="_rows_name_array_items"} <!-- Масив з заголовками -->
                {if not $key|in_array:$row_hide_key} <!-- Скриває поля по індеку який вкзаний в масиві row_hide_key -->
                    <th>{$_rows_name_array_items}</th>
                {/if}
            {/foreach}
        </tr>

    </thead>

    <tbody class="">

        {foreach from=$rows_value_array item="_rows_value_array_items_field"} <!--переданий масив значень-->
            <tr data-id="{$_rows_value_array_items_field.id}" data-name="{$_rows_value_array_items_field.name}">
                {foreach from=$_rows_value_array_items_field key="key" item="_rows_value_array_items_value"} <!--Елементи вкладеного масиву-->
                    {if not $key|in_array:$row_hide_key} <!-- Скриває поля по індеку який вкзаний в масиві row_hide_key -->
                        <td>{$_rows_value_array_items_value}</td>
                    {/if}
                {/foreach}
            </tr>
        {/foreach}

    </tbody>

    <tfoot>

        <tr>
            <th> Зараз обрано: </th>
            <th class="tableSelected_current_id"> - </th>
            <th class="tableSelected_current_name"> -</th>
        </tr>

    </tfoot>

</table>
    <input type="hidden" value="" name="{$input_id}" id="{$input_id}"/>
</div>


<script type="application/javascript">



</script>