<!--
    Description
    $id_field       - id_field
    $label          - label
    $required       - required
    $help_info      - help_info
    $rows           - rows
    $default_value  - default_value
    Example

-->


<div class="form-group" id="{$id_field}_div">

    <label for="{$id_field}">{$label}</label>
    <textarea class="form-control"
                id="{$id_field}"
                name="{$id_field}"
                {if isset($rows)} rows="{$rows}" {/if}
                {if isset($required)} required = "" {/if}
                {if isset($default_value)} value="{$default_value}" {/if}
    >{if isset($default_value)}{$default_value}{/if}</textarea>

    {if isset($help_info)}
    <small id="{$id_field}_Help" class="form-text text-muted">
        {$help_info}
    </small>
    {/if}

</div>